[2018-08-16 05:47] YukSeungChan commented on #434
Thanks :D

[2018-08-20 23:45] mikegrima commented on #204
In general, we would love a good way of performing a role assumption and caching credentials. I would be happy to submit a PR for this if I knew where to look.

Profiles aren't great for programmatic and dynamic credentials.

[2018-08-21 15:08] joarleymoraes opened #526 "Assigning same index definition to multiple models"
I have a use case for which it would be great if I could reuse an index across different models. But it seems it's not possible. Here's how to reproduce:

https://gist.github.com/joarleymoraes/9c8b2b2375d03522b276cc5b35373a5e

The error is:

[code]

It seems that, because `Model2` is defined last, it overwrites the index previously assigned to `Model1`. So when a `query` issued to the index, it lo

[2018-08-23 07:25] theFong opened #527 "Creating model without a key schema throws wrong error"

[2018-08-23 09:09] jakubro commented on #492
You can't `get` an item with just a hash key if the table has a composite key (hash key + range key). What you can do if you have just the hash key is to `query` the table, which will return an iterable of items.

[code]

It worked in your second example because there was no range key defined on the table.

[2018-08-26 23:26] ButtaKnife opened #529 "PynamoDB broken with botocore >= 1.11.0"
This change breaks Connection._make_api_call(): https://github.com/boto/botocore/commit/818d23505620f5091e5a4114020b66b5e6d7aa7b#diff-054181c44857a41f4e27bab9c8a6ba6e

In particular, https://github.com/pynamodb/PynamoDB/blob/master/pynamodb/connection/base.py#L357 is trying to access a `proxies` property which is no longer included on the botocore Endpoint class.

[2018-08-27 00:26] anovis commented on #529
got same issue. See the stack trace below.

[code]

[2018-08-27 09:26] toshke commented on #529
gettings same error with botocore version `1.11.1`
[code]

[2018-08-27 21:49] tjboring commented on #529
what's the status on this issue?

[2018-08-28 00:30] mikegrima opened #532 "Proper way to handle schema changes?"
Hello!

What is the proper way of handling schema changes?

Namely, if I had the following table:
[code]
... and changed the schema:

[code]

Adding or removing a field will cause problems when fetching data from this table. If removing a field, PynamoDB will complain that a required field is missing. If adding a field, it will also complain because there is an undefined field.

Is there a way to

[2018-08-28 01:47] kianxiongfoo commented on #529
Is there any temporary solution to force pynamodb to depend on botocore <= 1.11.0 instead?

[2018-08-28 03:01] anovis commented on #529
You can just do ‘’’pip install botocore==1.10’’’  to revert botocore version

[2018-08-28 09:02] jhesed commented on #89
Hi @jmphilli,
Is there any plan on implementing transactions in the near future?

[2018-08-28 18:48] flavioribeiro commented on #162
the snippet above worked for me, only thing I needed to change is `def _serialize` instead of `def serialize`.

[2018-08-28 19:05] slikk66 commented on #529
Messing with botocore has caused some issues in our env with different packages.  I think we're going to fork this repo, merge the referenced PR and install off that instead until the real fix lands.

[2018-08-29 08:25] sandroden opened #533 "pynamodb error with boto3 1.8+ ('Endpoint' object has no attribute 'proxies')"
While upgrading from boto3 1.7.84 to 1.8* a simple scan of a simple table raises an error. I'm using pynamodb 3.3: is it ready for 1.8+ series?

My simple table is define as:

[code]

And a scan raises this error:

[code]

[2018-08-29 09:12] bernard357 commented on #529
As reported by @kianxiongfoo the workaround is to set an explicit version of botocore in requirements.txt. The most recent version that works is the last 1.10 release, so I ended up with:

[code]

[2018-08-29 09:14] bernard357 commented on #533
The error message has been flagged in #529

As explained there, a workaround is to set an explicit version of botocore in `requirements.txt`. The most recent version of botocore that works is the last 1.10 release, so I ended up with:

[code]

Hoping that this helps

[2018-08-29 13:51] jney opened #534 "attribute keeps data between calls"
I've got the following code

[code]

print the following:

[code]

why does `lists` keep previous data? did i miss something?

[2018-08-29 14:34] jney commented on #534
it is actually #384

[2018-08-29 14:34] #534 closed

[2018-08-29 23:12] shadycuz commented on #533
Also seeing this while doing multiple things. Thanks.

[2018-08-30 12:10] garrettheel commented on #525
Hey @sunghyun-lee, I'm really glad to see some more interest in this area! I'd love to find a way to support asyncio alongside the existing interface. I've done a little [exploration](https://github.com/garrettheel/pynamodb/tree/asyncio) of this in the past but had not found an elegant solution yet. Let me read through what you've got there and think some more about how this might be able to work.

[2018-08-30 17:33] mikegrima commented on #533
I started seeing this too -- was pulling my hair out.

[2018-08-30 22:46] garrettheel commented on #533
This should be fixed in [3.3.1](https://github.com/pynamodb/PynamoDB/releases/tag/3.3.1), thanks for reporting

[2018-08-30 22:47] garrettheel commented on #529
This should be fixed in [3.3.1](https://github.com/pynamodb/PynamoDB/releases/tag/3.3.1), thanks for reporting

[2018-08-30 23:00] #533 closed

[2018-08-30 23:00] #529 closed

[2018-09-01 02:07] leobarcellos commented on #532
I ran into this from time to time, what I usually do is to add a `null=True` or `default` on the new attribute.

And if you use `Model.save()`, PynamoDB will ignore all non defined attributes too.
However if you use `Model.update()` you will run into this issue too, what I usually do is to check in the instance if already have this new attribute, before updating. (Or in some migration code)

[2018-09-04 18:44] andreborges-janrain commented on #417
Any news about that?

[2018-09-10 00:28] jakubro commented on #514
@jney Use `default=lambda: []` instead of `default=[]`, since the default value is mutable in your case.

[2018-09-21 12:54] andreborges-janrain commented on #533
Hi,
I tried to update pynamodb to 3.3.1 but I still able to see this error.

[2018-09-25 03:05] junejie opened #539 "DeprecationWarning: inspect.getargspec() is deprecated"
Environment:
[code]

Error:
[code]

This is a warning from `pytest`

[2018-09-25 03:30] mikegrima commented on #152
Does anyone know how to deal with nested values? In my case, I'm having an problem with a nested `Decimal` inside of a `MapAttribute` :/

[2018-09-30 18:59] benhowes commented on #532
I've been looking in to this a bit too, and it looks like a moderately good method for more complex migrations is documented here: https://stackoverflow.com/a/48053997/145412. That would work for removing data too.

[2018-10-01 17:56] mikegrima commented on #532
I'm going to close out this issue.

It looks like there are a number of ways to do this. Unfortunately, they all seem to have a lot of work associated, so best to never make changes to the schema 😂

[2018-10-01 17:56] #532 closed

[2018-10-03 07:13] Surgo opened #542 "TypeError occured when update with actions"
## Error

[code]

## Test model

[code]

## Test script

[code]

## DynamoDB response

[code]

Expected `'views': {'N': 1}` but returned `'views': {'S': 'views+:0'}`

[2018-10-15 09:17] btel opened #545 "count method silently ignores conditions on the range key"
The following two ways of counting items give different results:

[code]

The issue is that the `count` method ignores the condition on range key (`MyTable.timestamp > now`). This does not produce any error/warning nor is mentioned in the docs.

Note that if filters are passed, `count` (correctly) fails over to counting query results rather than checking `ITEM_COUNT` with describe_table:

https://

[2018-10-20 00:26] samlll42-github opened #547 "rate_limit on batch_get"
Hi everyone

Is there a specific reason why Scan, Query and Count have a rate_limit param but not batch_get?

Has anyone looked into adding this?

It looks like boto3's batch_get_item returns consume capacity and pynamodb's _batch_get_page could use RateLimiter. Am I missing something?

Also I haven't looked into put operations but being able to RateLimit would be useful.
Thanks

[2018-10-20 01:03] samlll42-github commented on #547
I have a patch that seems to work with _batch_get_page using RateLimiter, unless someone has a better idea - interested in a PR?

[2018-10-21 10:27] xliiauo opened #548 "[pylint] R0903:Too few public methods (0/2)"
Hi, I'm trying to use pyndamodb in my project. But I'm always getting the `pylint R0903:Too few public methods` warning. Shall I use a namedtuple to replace the class definition if it is only used to store attribute values like `table_name`? Many thanks.

[2018-10-24 14:07] szymonhab opened #549 "rate_limited_scan doesn't return ResultIterator"
Hi!

I'm using `last_evaluated_key` for parallel table scanning.
But `rate_limited_scan()` in `pynamodb.models.py` doesn't return ResultsIterator like normal `scan()`
I'm not able to reuse that key easily.

https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Scan.html#Scan.ParallelScan

`def scan():`
![image](https://user-images.githubusercontent.com/10489428/47436506-e7e6b680-d7a6-11

[2018-10-25 08:57] Jamim commented on #439
Hi everyone,
Are there any updates?

[2018-10-25 09:11] Jamim commented on #439
Oh, I see there is a related PR #440 :+1:

[2018-10-25 12:02] mscansian opened #551 "Decimal support"
Is there a way to use `decimal.Decimal` in PynamoDB? To my knowledge, the only way to save using the `NumberAttribute` is by converting it to float first. I tried sending a `Decimal` to the `NumberAttribute`, but since it uses JSON as a serializer, it does not work.

I'm working with financial data where precision is mandatory and float is not an option for me. Am I missing something or Decimal su

[2018-10-29 05:33] jnoortheen opened #552 "Support for [ddbmock](https://pypi.org/project/ddbmock/) - for better unit testing"
It is another Python library that supports mocking DynamoDB and can be used as a library as well as a mock server. Is it possible to integrate with this ? Dynalite and DynamoDB requires to be run as a service and needs some special setup. This library will save the time and the tests will be much faster.

[2018-10-29 20:15] keithjjones commented on #259
I didn't see this change in master.  Did I miss it somewhere?

[2018-10-30 12:29] fbidu commented on #548
Well, PyLint warnings are more of a stylistic issue. If you don't care about having too few public methods, you can just disable this warning [in many different ways](https://docs.pylint.org/en/1.6.0/faq.html#message-control).

But please take in consideration that those stylistic warnings - as boring as they might seem - they may point you to "smells" in your code. If you're facing a too few publ

[2018-11-02 07:55] sunghyun-lee opened #553 "Can we add the option `return_raw_data`?"
Hello,

While I am using this great library, I came to need to retrieve raw data itself.
So if we can add `return_raw_data` option for operations which returns item (e.g., get, batch_get, scan ... ), I think it will be helpful for using flexibility of DynamoDB schemaless characteristic.

I'll introduce an example situation:

- If I want to change an attribute type of certain table, it is very easi

[2018-11-02 08:54] niekbaeten opened #554 "Index with BooleanAttribute range_key"
I'm trying to update PynamoDB to the latest version, however creating a specific table now fails in my dev environment (using DynamoLocal).

I've pinned it down to an issue with in index and a range_key on a BooleanAttribute.
The following (simplified) model demonstrates the issue:

[code]

`Test.create_table(wait=True)` fails with the following error:

[2018-11-02 12:01] sunghyun-lee commented on #554
As far as I know, you cannot make boolean attribute as primary or range key. This is not PynamoDB's problem but limitation of DynamoDB.

[2018-11-02 12:06] niekbaeten commented on #554
I see, how did I miss that.
I guess it was working before since Bool used to be stored as a number.

[2018-11-02 12:06] #554 closed

[2018-11-03 02:04] thibautfrain opened #555 "Another way to import settings with a dict"
Would it be better to have another way to import settings ?
The current method involves having a dedicated `.py` file for this and an environment variable that link to it. I'm thinking about just having a `dict` of the values to override as an argument of a function that could be called from the `pynamodb` package itself. Obviously, the current way should be maintained as well for compatibility.

[2018-11-03 20:14] ColeMurray opened #556 "Unexpected Behavior of NumberAttribute.serialize"
Hello Pynamodb team,

When calling serialize on a NumberAttribute, the value returned differs from the expected behavior. Rather than returning the integer or float representation, a string is returned. This is a result of calling json.dumps on the value.

Source code: https://github.com/pynamodb/PynamoDB/blob/master/pynamodb/attributes.py#L515

Example:
Expected
[code]

Actual:
[code]

[2018-11-04 14:47] guojiaqi1027 opened #557 "Is save operation a sync request or async?"
I try to use save operation to create new item and after created I immediately call getitem operation to retrieve the new created item. In some time, I got an empty result from get, so I'm wondering if the save(putitem) request is async and when I call get it still not be created or it is a sync request?

[2018-11-06 00:48] mikegrima opened #558 "Vendored Botocore Requests"
Hello All!

Botocore has begun un-vendoring the Requests library, and replacing it with urllib3: https://github.com/boto/botocore/pull/1495.

PynamoDB is making use of the vendored botocore Requests library here: https://github.com/pynamodb/PynamoDB/blob/master/pynamodb/connection/base.py#L19-L20

As such, this results in breakage when unit testing with the latest version of moto (https://github.c

[2018-11-06 01:38] mikegrima commented on #558
Submitted a PR that should hopefully address this properly at: #559.

[2018-11-06 17:03] kyleknap commented on #558
I agree with depending directly on `requests` instead of the vendored version of `requests`. The fact that we vendor requests is an implementation detail and it is likely that we remove it in future versions of `botocore`, since we are relying on `urllib3` now.

[2018-11-06 17:23] jney opened #560 "virtual attribute"
hi, could you tell me what's the way to go to have virtual attributes (attributes used in the python model but not saved to dynamo)?
i tried using python getter/setter but it does not look to work. i did it this `NullAttribute`, is it really the way to go?

[2018-11-06 18:19] mikegrima commented on #558
@kyleknap Is on the AWS SDK team BTW.

[2018-11-06 22:12] mikegrima commented on #560
Taking a stab in the dark... Would Python class properties work?

[2018-11-07 10:37] jney commented on #560
I did something like this and it didn't work:

[code]

[2018-11-07 18:08] sc250024 commented on #501
To piggyback on this issue, I **_think_** I'm receiving a similar error, quite possible because of this issue. Just like @saffrydaffry, I am developing with DynamoDB locally, but when I tried to put my Python code into Kubernetes using Kiam (long story short, it attaches an IAM role to a pod), it doesn't work. I turned on debug logging in Python, and got the following:

[code]

Basically, what I s

[2018-11-15 23:07] dmulter commented on #518
I guess I don't need this anymore since AWS went and encrypted everyone's data and made it the default! [Amazon DynamoDB encrypts all customer data at rest](https://aws.amazon.com/about-aws/whats-new/2018/11/amazon-dynamodb-encrypts-all-customer-data-at-rest).

[2018-11-16 16:21] asottile commented on #558
additionally, the vendored copy in botocore is vulnerable to CVE 2018-18074

[2018-11-19 22:08] dmulter commented on #558
Note that I'm getting a failure using the latest moto, but it's not the exact problem described here. The fix suggested above did not work for me. All my tests pass using moto 1.3.6, but the new one results in failures for mocked DynamoDB tests.

An item is added to a table with no failure, but a subsequent read doesn't return the item data. I'm waiting to see if the fix for this resolves my issue

[2018-11-25 06:55] cui-dalihai opened #562 "batch_get from more than one tables"
Hi, boto3 has batch_get_item which support get record from one or more tables, which pynamodb's batch_get can only get from one table if I understand correctly.

Is there any plan to add this feature to pynamodb?

[2018-11-27 23:50] vinodmehra commented on #89
https://aws.amazon.com/blogs/aws/new-amazon-dynamodb-transactions/?sc_channel=sm&sc_publisher=TWITTER&sc_country=Global&sc_geo=GLOBAL&sc_outcome=awareness&trk=AWS_reInvent_2018_launch_DynamoDB_Transactions_TWITTER&sc_content=AWS_reInvent_2018_launch_DynamoDB_Transactions&sc_category=Amazon+DynamoDB&linkId=60250973

[2018-11-28 01:00] jhesed commented on #89
wow that's a gem @vinodmehra.  Thanks!

[2018-11-28 06:52] gawainguo opened #563 "TransactWrite and TransactGet support"
Dynamodb recently support transactWriteItems and TransactGetItems operation, is there a plan to add these features in PynamoDB?

https://amazonaws-china.com/blogs/aws/new-amazon-dynamodb-transactions/

[2018-11-28 07:59] batmop commented on #89
Would love this implemented

[2018-11-29 13:20] grvhi opened #564 "ValueError: range_key = {'S': 'transactions'} is not a valid range key condition"
When querying a global secondary index, I cannot apply both a `range_key_condition` and `filter_expression` to the query:

This code works exactly as expected:
[code]
But this code fails with a `ValueError`:
[code]
Note that the `status` attribute is a `NumberAttribute` and is not a hash key or range key. And `cls.range_key` is the attribute name of the model's range key and is a `UnicodeAttribute

[2018-11-30 04:19] pilgrim2go commented on #533
I got the same issue - upgraded to 3.3.1 doesn't help

[2018-11-30 15:57] disrael commented on #89
This is a must have. Please assign and give time frame or give us pointers on how we would pull request it in.

[2018-11-30 23:46] emise opened #567 "Conditional save fails for new field with default value"
I think this is lacking some documentation, and I don’t know if it’s the intended effect, but-
If I add a new field with a default value to an existing Model, and then I retrieve this new field for a conditional save, the new field is actually populated with `null` instead of the default value, causing the conditional save to fail.
However, if you try to fetch the value via Pynamo, such as `Model.

[2018-12-03 09:16] kimvais opened #568 "Support for creating tables in on_demand mode"
i.e. without provisioned throughput but with `BillingMode="PAY_PER_REQUEST"`

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Client.create_table

[2018-12-03 13:51] tom-dalton-fanduel commented on #539
For anyone else waiting for the above PR to get merged/released, you can work around this by adding a warning filter to pytest's config like so:

[code]

Ref https://docs.pytest.org/en/latest/warnings.html and https://docs.python.org/3/library/warnings.html#describing-warning-filters

[2018-12-04 16:35] tom-dalton-fanduel opened #569 "moto and pynamodb don't play nicely together"
As the title, I'm struggling to be able to use moto to mock out dynamodb[2] when using the pynamodb package. I've also posted this same bug report to `moto` here: https://github.com/spulec/moto/issues/1981

Steps to reproduce:

`car.py`:
[code]

`test_car.py`:
[code]

`pip install pynamodb moto pytest`

Gives me (amongst other things):
[code]

I now hope the tests will run. Instead, we get an erro

[2018-12-06 10:03] lonsdale8734 commented on #568
+1

[2018-12-06 10:11] grvhi commented on #448
@vatsalshah1990 - did you ever find the solution to this problem? I am currently trying to work out a solution to the same problem; it feels to me like pynamoDB / botocore is not using the Lambda function's role....

[2018-12-07 18:56] disrael commented on #568
+1

[2018-12-09 13:08] rockycore opened #570 "Support for TransactWriteItems/TransactGetItems"
The support for DynamoDB transactions would be great.

https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/transactions.html

[2018-12-09 13:12] rockycore commented on #570
sorry, already there

[2018-12-09 13:12] #570 closed

[2018-12-10 19:10] TimelyToga commented on #428
Is there any movement on this? I would like to vote for the Django pattern, would be happy to open a PR to that effect.

[2018-12-11 23:19] samlll42-github commented on #568
+1

[2018-12-17 14:02] jorenvh1 opened #572 "Condition expression not working as expected"
Hi there

I'm trying to make the a conditional expression work with the following code.

Model:
[code]

Later when I'm making a new signature, I only want to save it if a signature with the id does not yet exist (to prevent duplicate id's or overwrites)

[code]

This will always write the record to dynamodb, even if that id already exists in the database.
I tried to manually do a put_item call wit

[2018-12-17 16:03] srittau opened #573 "pynamodb stubs in typeshed"
I am one of typeshed's maintainers. I noticed that pynamodb now ships with its own stubs, which is of course preferable to shipping them in typeshed. Do you see any issues with us removing the stubs from typeshed?

[2018-12-18 09:59] jorenvh1 commented on #572
Thanks for replying @jpinner-lyft. I remove the range key (updated_at) in my example because it was only causing confusion.

The thing I want to achieve does work when I use boto3. The thing I want to prevent is when I have a collision on my 'id' field, that it doesn't overwrite the existing one but throws an error that the condition has failed which works with boto3 but not with pynamodb

(https:

[2018-12-19 04:08] jpinner-lyft commented on #572
@jorenvh1 could you post complete sample code that reproduces the issues along with the version of python and pynamodb that you have tested with?

[2018-12-19 08:36] jorenvh1 commented on #572
@jpinner-lyft the above code is practically all you need.
Python version is: 3.7.1
pynamodb: 3.3.1
boto3: 1.9.67
botocore: 1.12.67

[2018-12-19 14:06] asyschikov commented on #555
+1 would be great to have a little more flexibility with configuration.

[2018-12-22 14:36] vedavidhbudimuri commented on #568
+1

[2019-01-02 09:43] garrettheel commented on #573
Hey @srittau, thanks for bringing this up! I actually haven't cut a new release that includes the stubs yet, however the typeshed stubs are already out of date and that will continue to worsen over time.

I believe quite a few people are relying on typeshed for these right now and removing it would impact their workflow. Would it be okay if I cut a release shortly to introduce the stubs and we rem

[2019-01-02 10:38] srittau commented on #573
Sounds like a good plan. We should probably wait for one or two mypy/pytype releases before removing them from typeshed, after the pynamodb release has been cut. This would most likely work out to about 3 months or so.

[2019-01-03 09:30] garrettheel commented on #573
Great, I just cut a new version (3.3.2) containing the stubs so we can circle back after a couple of mypy/pytype releases. Thanks again!

[2019-01-10 05:41] wrouesnel opened #582 "Implementing dependent attributes"
Suppose I have a model that looks something like this:
[code]
now, for the pythonic interface I'd really like to only deal with `thing_time` - and have operations on that automatically do that's needed to `day_of_thing` and `time_of_thing`.

Ideally this is a rule as simple as "always set `day_of_thing` and `time_of_thing` based on whatever value is being set by `thing_time`"

Presumably by wrappi

[2019-01-15 00:36] wrouesnel commented on #198
As a note, this is how I've been handling this problem in my own applications. The trick of this is that by calling this function in multiple separate files containing Pynamo models, it'll correctly initialize and update parameters (I supply them from a config file).
[code]

[2019-01-15 09:11] ikonst commented on #552
ddbmock might bring a particular loss in fidelity. Did you measure the performance benefits on pynamodb's test suite?

[2019-01-15 09:13] ikonst commented on #560
You should be able to use regular class attributes. Unless an attribute is derived from `pynamodb.attributes.Attribute`, it is not treated as anything special by pynamodb.

[2019-01-15 09:13] #560 closed

[2019-01-15 21:40] ikonst commented on #424
cc @jpinner-lyft any idea what went wrong w.r.t default and refresh?

[2019-01-16 03:11] jpinner-lyft commented on #424
The default values only get set during AttributeContainer initialization, not during refresh. I'm not sure if this is a bug or expected behavior. The linked PR fixes "refresh" to set all attribute values to whatever is in the database (as opposed to ignoring unknown attribute values). I would maybe ask @garrettheel what he thinks the behavior of defaults should be after a refresh where the attribu

[2019-01-16 07:12] garrettheel commented on #424
@jpinner-lyft given the inability to store `null` in the database, I'd agree that this is indeed unexpected behavior and warrants a fix like the one you propose

[2019-01-16 10:39] Surgo commented on #89
I think it have following tasks

- [ ] Share connection between tables (maybe backward imcompatible)
    - [`TransactGetItems`](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_TransactGetItems.html) and [`TransactWriteItems`](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_TransactWriteItems.html) can updating multiple tables at once
   - Like [django's global

[2019-01-18 15:50] dedominicisfa commented on #434
Happy that it worked for you, I have a None is not iterable error in pynamodb attributes.py. COld you please post a small example that works?

[2019-01-19 02:54] knap1930 commented on #434
@dedominicisfa if you paste the code above in to the example code at https://github.com/pynamodb/PynamoDB/blob/master/docs/attributes.rst#list-attributes it should just work...

[2019-01-21 09:16] jonnyshaw89 commented on #568
+1

[2019-01-21 19:04] ikonst commented on #568
@vedavidhbudimuri I believe@disrael performed preliminary review and asked for changes

[2019-01-24 02:47] mscansian commented on #551
@numberoverzero Thanks for the explanation. Haven't tested it yet, but it looks like it's gonna work. I just think that is also necessary to include `attr_type = NUMBER` in the class to avoid DynamoDB saving data as a string (though I'm not sure).

Anyway, don't you guys think this is an attribute worth of a place in the lib itself? I will gladly send a PR if that's the case.

[2019-01-24 02:53] numberoverzero commented on #551
good call! i imported and forgot to add the line.

[2019-01-24 17:14] ikonst commented on #551
The maintainers told me they'd rather keep only the primitive attributes in `pynamodb.attributes`, which is why I created [pynamodb-attributes](https://github.com/lyft/pynamodb-attributes) to complement it.

[2019-01-25 18:20] jpwhite3 commented on #529
This issue needs to be reopened. The problem persists with version 3.3.3 against latest version of boto3/botocore.

[2019-02-02 18:53] chekan-o commented on #448
Hi guys,

I've faced same problem recently.
I was getting same exception. My problem have happened because I didn't specify the region at model Meta. It appears that in this case pynamodb connects to default region and is not using `AWS_REGION` environment variable if it is set. My lambda function was deployed at non-default region `eu-central-1` and DynamoDB table was also created at `eu-central-

[2019-02-04 01:28] pedromachados opened #591 "Batch update"
Is it possible to do a batch update passing multiple items in a single operation? My use case is to do an upsert of multiple items. I understand that `save` will overwrite existing items so was trying to accomplish the same with an update.

[2019-02-06 02:04] iraabbott opened #592 "Middle API ? How to get this goodness without the strictures of ORM (fixed schema)?"
Hi,

I am not sure if this is an issue or that I am just trying to do something a little different.

pynamodb appears to do an excellent job of imitating an ORM table in django.

However, I am more interested in the schema flexibility of DynamoDB.  I intend to store a bunch of random objects with some order, typing, etc.  i.e. very few common fields and effectively random schema for much of the da

[2019-02-06 03:15] ikonst commented on #592
pynamodb can store some untyped data, e.g. using an untyped ListAttribute or MapAttribute, but generally it has to be aware of fields that you wish to use e.g. in conditions. I would extract anything that I can use systematically (e.g. in indexes and conditions) into the schema, and keep "raw data" schema-less in a MapAttribute.

Would such approach work for you? Alternatively, what do you find ap

[2019-02-06 11:13] alexrecarey opened #593 "Will not run under python 3.5 since 3.3.2"
After upgrading to 3.3.3 from 3.3.0, found that my app was broken running under python 3.5 which should not have happened for a point release. After checking the releases, it seems due to the file `mypy_helpers.py` in the test directory using python 3.6 code on line 15:

    with open(f'{tempdirname}/__main__.py', 'w') as f:

Thanks

[2019-02-06 19:52] ikonst commented on #593
@alexrecarey I used newer syntax in this file since it's used only for Python\>\=3.6 mypy runs. Any insight as to how the test-only file was loaded during a non-test run?

[2019-02-07 02:54] #301 closed

[2019-02-08 11:17] iraabbott commented on #592
Thanks for taking the time to reply.   I didn't know about the pynamo when I started. boto3 works, for sure, but you almost must have a serialization layer, which was easy enough for the basic operations.

That's when I ran in tho this, which seems to have both reasonable feature coverage and an active community.  Assuming all of this momentum continues, seems like the place to be.

If I understan

[2019-02-08 11:17] #592 closed

[2019-02-08 11:36] iraabbott commented on #591
Hi,

I am new to pynamodb, but can comment from reading the docs in DynamoDB that AWS doesn't support the operation you are asking about in the underlying API.  [https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html](url)

'batch' and 'transact' operations combine 'get_item' and 'put_item' operations (although they are called 'batch_write_item' and 'transact_writ

[2019-02-08 19:57] alexrecarey commented on #593
Not really, that's a good question. I checked the repo and nothing seems to import `mpypy_helpers.py` other than `test_mypy.py`, and `test_mypy.py` is not imported from anywhere. I will create a minimum case flask server with pynamodb to see if it is something special with my environment.

[2019-02-08 21:30] ikonst commented on #593
Thanks!
Perhaps you have some code that traverses a package and imports all modules? :)

[2019-02-09 09:35] alexrecarey commented on #593
I'm using gevent together with `monkey.patch_all()`. I think this has to be it. No other package I use should be doing something like that.

[2019-02-11 07:57] ikonst commented on #593
I can't see how `monkey.patch_all()` would do that.

Can you add an
[code]
to the beginning of that file (you can delete all other lines) and see the stack trace when it's imported?

[2019-02-13 20:02] dmulter commented on #569
Also note this [recent comment](https://github.com/spulec/moto/issues/1981#issuecomment-456723936) where the basic pynamodb code does not work with the latest moto release.

[2019-02-14 08:29] jhesed commented on #89
Any update regarding this?  Thanks!

[2019-02-14 16:11] akashg90 opened #595 "Is there anyway to inject local dynamo db client to models through pytest?"
Hi All,

I am trying run functional test on pynamodb model through pytest. I am using fixtures to start dynamo db on local. But I am failing to inject local client created by fixtures to pynamodb client.

Please help me with this issue.

Thanks,
Akash Gupta

[2019-02-15 20:48] ikonst commented on #595
What I’d typically do is set the DynamoDB hostname from an environment variable.

[2019-02-15 22:51] bugeats opened #596 "MapAttribute has different behavior if subclassed"
Imagine me wanting a simple key/value attribute. Ok no prob just use `MapAttribute` -- just as long as you don't subclass `MapAttribute` -- in which case the entire behavior is flipped upside down. Wah?

I find this documentation to be completely impenetrable:

https://github.com/pynamodb/PynamoDB/blob/4462874d224adc063543979dec50c04914288395/pynamodb/attributes.py#L573

I read it 10 times at leas

[2019-02-15 23:11] jpinner-lyft commented on #596
:wave: can you add some example code to show what you're trying to do when subclassing? In the subclasses init method, did you call super init?

[2019-02-15 23:20] bugeats commented on #596
Oh hi. :wave: Yeah. I'm just sub-classing to support a simple framework for aggregation of schema definitions. So it might look like this:

[code]

I'm not trying to make a unique *record*, just trying to extend the base MapAttribute with some custom methods.

[2019-02-15 23:28] jpinner-lyft commented on #596
So MapAttributes as you've found are unfortunately very "special" -- they have a dual behavior that depends on both where they are defined and how they are accessed :(

The short answer is I think you need to override the `is_raw` class method in your subclass to return True.

[2019-02-15 23:36] bugeats commented on #596
Hey `is_raw` class method did the trick, thanks!

I was trying to be careful with the title of this issue, since I do think special behavior is the core of the problem. May we keep the ticket open to represent the hope of creating Attribute classes with more clearly defined boundaries in their behavior?

Again I think teasing out a **KeyValueAttribute** would go a long way, whether or not the core

[2019-02-15 23:45] jpinner-lyft commented on #596
The addition of "typed" subclasses. along with the use of class attributes in expressions, certainly caused complexity in the implementation. A lot was done to ensure backwards compatibility as the feature set grew.

I don't think there was ever any though to allowing users to subclass map attributes but keeping the "raw" behavior. All subclasses were assumed to be typed bags.

Perhaps a better wa

[2019-02-16 03:56] ikonst commented on #595
You can always add something like this to conftest.py. Perhaps there should be an easier way to override it.

[code]

[2019-02-16 04:20] ikonst commented on #596
Splitting the "raw" behavior out of MapAttribute would probably make the type annotation simpler too.

[2019-02-18 23:16] garrettheel commented on #596
@jpinner-lyft @ikonst agreed that subclassing while maintaining the "raw" behavior is something we should support. Feel free to file this as a bug or feature request

[2019-02-21 06:38] kyeljmd commented on #570
I dont see it in the documentation

[2019-02-21 19:29] nshgraph opened #597 "Support storing empty strings"
An empty (but present) string is a different value to a non existent value.

Current behaviour serializes strings to None which then breaks if, for example, you want to store an empty string.

Perhaps this is expected behaviour but I couldn't find any documentation supporting this?

Thanks

[2019-02-21 19:42] jpinner-lyft commented on #597
DynamoDB cannot store empty strings.

[2019-02-21 20:03] nshgraph commented on #597
Thanks, and sorry for the noise. I'll have to find a different solution.

[2019-02-27 22:50] jaredtkatz opened #599 "add CONSISTENT_READ attribute to schema"
Would be nice to be able to set the default value for `consistent_read` in a model definition so all methods that `consistent_read` as an argument could be set to `True`

[2019-02-27 23:20] jaredtkatz commented on #89
Yeah this would be super useful

[2019-03-01 08:14] kimvais commented on #569
this happens because `pynamodb.connection.base:Connection._make_api_call()` bypasses boto altogether and uses requests directly so the tables get created in real AWS dynamodb instead of mock.

[2019-03-03 05:30] pedromachados commented on #591
Got it. Thanks!

[2019-03-03 05:30] #591 closed

[2019-03-06 06:43] YukiInagaki commented on #568
+1

[2019-03-09 23:16] chrisbrantley commented on #526
I am also running into this issue. Any updates?

[2019-03-10 12:44] ikonst commented on #526
I'd classify the fact it's a silent error as a bug. As to whether we'd want to allow it, I don't have an opinion myself.

[2019-03-18 21:04] gulbinas commented on #210
https://github.com/pynamodb/PynamoDB/pull/470

[2019-03-19 14:22] luisdemarchi commented on #514
I've got the same issue in pynamodb 3.3.1.

[2019-03-19 14:30] jney commented on #514
sorry I didn't reply. I think I solved it with `default=list`, @jakubro's proposition would also work

[2019-03-19 14:30] #514 closed

[2019-03-21 16:26] dmulter commented on #569
Also note that overriding the session_cls config variable does not fix the issue @ororog points out in the recent comment I linked to. He does a nice job of sharing a [repo](https://github.com/ororog/moto-pynamo-test) with the simple PynamoDB tutorial code failing to work with the latest moto release. This is a huge problem.

[2019-03-22 20:53] emise commented on #89
yes please!

[2019-03-23 05:52] venkateshanbalagan opened #603 "UnrecognizedClientException"
We are getting this exception. Do you have any solution?

conn = TableConnection('Request', aws_access_key_id=os.environ["AWS_ACCESS_KEY_ID"],
                       aws_secret_access_key=os.environ["AWS_SECRET_ACCESS_KEY"])
conn.describe_table()

pynamodb.exceptions.VerboseClientError: An error occurred (UnrecognizedClientException) on request (9H9CMALLM6AC4E94UOHEQUNV2NVV4KQNSO5AEMVJF66Q9ASUAAJG

[2019-04-01 09:23] mattjegan commented on #603
This error will occur when either the AWS credentials are non-existent or incorrect. Have you made sure to populate your environment with the `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` variables?

[2019-04-01 19:19] venkateshanbalagan commented on #603
This error finally was resolved by providing session_token. We had override the tableconnection.__init__ to take session token and pass it on to connection.session.set_credentials

[2019-04-01 19:19] #603 closed

[2019-04-01 19:20] venkateshanbalagan opened #607 "Support for Dynamodb kms key encryption"
Currently does pynamodb support kms key encryption?

[2019-04-03 17:27] lonsdale8734 commented on #568
This is my patch. And It works when create_table. Here is [my commit](https://github.com/lonsdale8734/PynamoDB/commit/9e18f18aed3f05a486817568651267297c1507f1)

[2019-04-04 18:18] Dkazem91 commented on #466
same

[2019-04-06 20:07] ikonst commented on #466
@chriskck It's a reasonable suggestion, but there's complexity involved. I'll explain.

For an existing table, creating a GSI can trigger a long backfill during which the GSI is naturally unavailable. I'm assuming your pattern is to deploy a new version of the service and, if it any of its declared indices don't exist, to auto-create them. A naive user of this pattern might attempt to immediately

[2019-04-06 20:38] chriskck commented on #466
I see your point.

I'm not suggesting that the indices should be automatically created as part of the table creation. instead, I'm suggesting that the Index classes add similar create and destroy functions as the Models?

I feel this increases API consistency across all the table/model related classes (the Index is, after all, just another Model/Table albeit one where their records are 'slaves' to

[2019-04-07 20:17] ikonst commented on #466
If I understand you correctly, `MyModel.create_table` would still create the table and all its indices, but also could call `MyModel.my_index.create_index` to add a specific index to the table? This sounds reasonable to me.

[2019-04-07 22:04] chriskck commented on #466
Yes, though I was suggesting not changing the existing `MyModel.create_table` function. I feel it's acceptable if `MyModel.create_table` only creates the model table and not the indices as the indices are *separate tables* and the function implies creating just one table.

[2019-04-07 23:21] ikonst commented on #466
create_table currently creates the indices. Not having it do that would be a breaking change.

[2019-04-07 23:33] chriskck commented on #466
I'm sorry. You're correct. The issue is that there's no way to create an index after the initial table creation. The existing plan is perfect. Thanks!

[2019-04-10 12:16] mojimi commented on #52
Well, isn't referencing the id pretty much simulating a foreign key? Is that an okay thing to do?

What happens if a referenced object is deleted, the application needs to handle it?

[2019-04-10 17:41] ikonst commented on #52
Since DynamoDB has no concept of foreign keys then, yes, you might try to implement them applicatively. PynamoDB doesn't strive to offer features on top of DynamoDB's features, so we leave emulation of foreign keys to the applications.

[2019-04-10 17:55] mikekhristo commented on #52
When I posed the original question 4 years ago, I had no idea of the underlying power dynamodb. I'll just leave this here for future viewers: https://www.youtube.com/watch?v=HaEPXoXVf2k

[2019-04-10 18:06] mojimi commented on #52
I have watched that and a couple other explanations on the adjacency list design pattern.

I don't know if I can't understand it or just can't agree with it, because you end up with such an unnatural and ugly table structure just to save one extra query.

I just find the way they visually represent a DynamoDB table model really confusing.

[2019-04-11 09:01] NikitaTitov commented on #316
Hello! Same for me, here is my index

[code]

Model class

[code]

And my query for example
`Report.delivery_status_index.query(ReportStatus.CHANGED)`

And I got the same error `No hash key attribute for index`

[2019-04-12 03:10] #607 closed

[2019-04-12 03:10] venkateshanbalagan commented on #607
I see there is a current feature request so I am closing is issue

[2019-04-12 04:12] toshke commented on #89
+1 - anyone working on this, is it on the roadmap? I'm keen to help if required.

[2019-04-12 06:21] ikonst commented on #316
@NikitaTitov could you please run `aws dynamodb describe-table --table-name <your-table>` or provide equivalent info from the AWS console?

[2019-04-17 01:52] garrettheel commented on #569
I commented on the `moto` issue too, but you can test out a fix for this in the `4.0.0a1` alpha release. Give it a whirl and let me know how it goes.

[2019-04-17 02:11] ororog commented on #569
I tested pynamodb==4.0.0a1 and moto==1.3.7 on my repository (https://github.com/ororog/moto-pynamo-test) and it works together well.
Great work!

[2019-04-17 15:54] vinyguedess opened #609 "Why not extend django manager ?"
It would be really nice, even for maintaining agnosticism if django-models structure were used by extending model Manager.

[2019-04-26 07:53] 1oglop1 opened #612 "Custom object serialisation"
Hi, I'm trying to use this dandelion client https://github.com/SpazioDati/python-dandelion-eu,
which returns `AttributeDict`

defined as follows
[code]

It represents a JSON result from an API call, so it should be simple to serialize it into python objects.

I have my model defined as:

[code]

The problem occurs when I try to use the model
[code]
I get this error
[code]

The `response` object lo

[2019-04-26 09:02] cbarraford opened #613 "Invalid length for parameter GlobalSecondaryIndexes[0].KeySchema, value: 0, valid range: 1-inf"
Trying to add my first global index and getting this weird error. Not sure where to go from here, suggestions welcomed. I tried following the documentation [here](https://pynamodb.readthedocs.io/en/latest/indexes.html)

When running my tests, i get the following error...
[code]

Here is the code where the index is defined.

[code]

[2019-04-26 09:28] ikonst commented on #613
You need a hash key in a GSI. In your code:
[code]

[2019-04-26 09:31] cbarraford commented on #613
thanks.

[2019-04-26 09:31] #613 closed

[2019-04-26 10:10] ikonst commented on #613
@garrettheel Think we should have a better error here?

[2019-04-26 21:45] emise opened #614 "Expose private helpers as public"
Sometimes it would be helpful to build DynamoDB json using a PynamoDB model for unsupported features, such as Transactions. Could we surface these methods, i.e.

[`_get_json`](https://github.com/pynamodb/PynamoDB/blob/master/pynamodb/models.py#L1174-L1185),
`_get_meta_data`,
`_serialize_value`,
`_hash_key_attribute`,

etc. as public methods?

Suggestion is to remove the `_` and document them in th

[2019-04-26 22:10] garrettheel commented on #89
I'd definitely love to add support for this to PynamoDB. I'm not aware of anyone working on it thus far, but I'm happy to work with anyone that wants to take a crack at this

[2019-04-29 20:43] #569 closed

[2019-04-30 04:31] hallie commented on #89
For those of you following along, I'm interested in building out support for this feature, but would love some feedback on a couple of different ways to interface with it:

# Approach 1
## Get
[code]
## Write
[code]
# Approach 2
## Get
[code]
## Write
[code]
# Approach 3
## Get
[code]
## Write
[code]

[2019-04-30 09:08] tom-dalton-fanduel commented on #569
I haven't had time to look at this recently but sounds like it's working for others so I'm sure it will work for me. Thanks very much!

[2019-05-01 01:20] ikonst commented on #89
All Get variants are difficult to type check:

Here are some more ideas:
[code]

I'm not sure I like the limbo state and errors that can only be detected at runtime. Here's another idea:

[code]

[2019-05-07 16:30] garrettheel commented on #614
Exposing these methods publicly would mean we'd need to document them and a lot of what should be internal-only changes would now require a major release. I can certainly see a case being made for exposing some data that we currently don't publicly, however making these public doesn't align well with the goals and level of abstraction of this project.

I'd suggest using the private methods sparing

[2019-05-07 16:37] garrettheel commented on #593
@ikonst perhaps we should ensure that the `tests` directory doesn't end up in the wheel? looks like we dump it in there right now

[2019-05-07 16:53] ikonst commented on #593
🙀 I guess we should :/

[2019-05-13 06:51] jl-DaDar opened #619 "Why does scan use generator not iterator?"
How come scan and rate_limited_scan uses generator and not iterator like query?
I am forced to handle pagination differently right now.

[2019-05-13 13:49] ikonst commented on #619
Generators are iterators. Could you illustrate the difference with some sample code perhaps?

[2019-05-16 21:30] ikonst opened #621 "Missing type annotations for ResultIterator.last_evaluated_key"

[2019-05-16 22:10] ikonst opened #622 "Shouldn't have to pass HK of underlying table when querying GSI with last_evaluated_key"
When querying a GSI and passing a `last_evaluated_key`, PynamoDB insists on the HK (of the underlying table) being passed — where its value doesn't matter. It is not used by the underlying DynamoDB engine.

For example:
[code]
and then:
[code]

[2019-05-17 03:13] ikonst commented on #622
Oops, I was wrong. Since a GSI's (HK, RK) can map to multiple items (in other words, there's no uniqueness on GSIs), you must specify the HK and possibly RK of the item.

[2019-05-17 03:13] #622 closed

[2019-05-17 22:42] #621 closed

[2019-05-22 02:48] jl-DaDar commented on #619
well, I am trying to get last_evaluated_key from the scan, but because it uses generator not resultIterator, I cannot use the same way that I use for query

[2019-05-22 03:33] jpinner-lyft commented on #619
Which version of pynamodb are you using? On the latest version `scan` returns a `ResultIterator`.
`rate_limited_scan` still yields values but is deprecated. Use the `rate_limit` parameter in the `scan` function.

[2019-05-22 08:16] techdragon commented on #259
Is there a reason this cant be merged as it stands currently?

[2019-05-22 20:47] ikonst commented on #259
@techdragon this is an issue, not a pull request

[2019-05-23 05:17] techdragon commented on #259
Sorry, @ikonst it looks like I got my wires crossed, I was talking about https://github.com/pynamodb/PynamoDB/pull/355, which now I look deeper, has some conflicts still open, but work still progressing. So all its well with the world. :-)

[2019-05-24 02:01] monkut opened #627 "JSONAttribute(null=True) field TypeError: the JSON object must be str, bytes or bytearray, not 'NoneType'"
I have the following model:

[code]

And it appears that when performing a query for a result where the `errors` value is Null, the query fails to properly decode the item with the exception:

[code]

Query:
[code]

DynamoDB Record:
[code]

Why is deserialization filaing for the `errors` field?
With `JSONAttribute(null=True)` shouldn't it be able to handle null values for the `errors` field?

[2019-05-24 13:11] mojimi commented on #562
I'm also really needing this, basically a low-level/schema-less batch get/write.

I think it might already be possible by analyzing the source code but I couldn't get anywhere

[2019-05-24 15:53] ikonst commented on #562
@jpinner-lyft, this is what you were talking about.

[2019-05-24 16:29] ikonst commented on #259
FWIW, if you don't use PynamoDB to create your tables, a practice I'd eschew in favor of a provisioning tool like Terraform, then you can use TTLs right now — simply create an `IntegerAttribute` with a name matching your TTL configuration, and assign it a Unix epoch timestamp of the expiry time.

[2019-05-28 04:20] techdragon opened #629 "Support for On Demand mode and Global Secondary Indexes"
The current code has incomplete support for the On Demand billing mode of DynamoDB.

The notes around the launch state that the indexes inherit the On Demand mode from their tables.

https://aws.amazon.com/blogs/aws/amazon-dynamodb-on-demand-no-capacity-planning-and-pay-per-request-pricing/

But the code currently throws an error `AttributeError: type object 'Meta' has no attribute 'read_capacity_

[2019-05-28 19:40] ikonst commented on #627
Indeed, there's something wrong with our handling of DynamoDB `NULL` type.

[2019-05-29 17:47] ikonst commented on #593
@alexrecarey Can you help our investigation by adding some diagnostic code to your installation?

[2019-05-31 03:53] bendog commented on #152
I've added a numeric test to return numbers as numerics as this understandably was causing issues with sorting.

[code]

[2019-05-31 13:46] mojimi opened #630 "Get query result as list?"
I've noticed some imitations with the query result (ResultIterator)

1) I can't use indexing, for example queryResult[2]
2) I can't get its length
3) I can't iterate it twice

[code]

Is there a method to turn a ResultIterator into a list and force it to get everything at once?

[2019-05-31 17:46] ikonst commented on #630
Simply wrap it in `list`, i.e. `my_list = list(MyModel.query(...))`.

[2019-05-31 17:46] #630 closed

[2019-06-07 13:57] alexrecarey commented on #593
Sure, let me know what info you want. I worked around the issue by creating a docker container with python 3.6 instead of deploying it to ubuntu directly, but I don't mind going back and retesting.

[2019-06-07 18:56] ikonst commented on #593
@alexrecarey

Can you add an
[code]
to the beginning of that file (you can delete all other lines) and see the stack trace when it's imported?

[2019-06-08 03:30] jpinner-lyft commented on #549
The `rate_limited_scan()` function is deprecated and has been removed in the upcoming 4.0 release.
This functionality has been replaced by the `rate_limit` parameter.
see https://pynamodb.readthedocs.io/en/latest/rate_limited_operations.html

[2019-06-08 03:30] #549 closed

[2019-06-08 03:59] jpinner-lyft commented on #435
This is a limitation of the deprecated legacy conditional operator api (which has been removed in the upcoming 4.0 release). You can achieve this using the new expression api: `ProfileModel.email.address.contains('gmail')`

[2019-06-08 03:59] #435 closed

[2019-06-08 04:02] jpinner-lyft commented on #461
The legacy filter parameters have been removed in the upcoming 4.0 release.

[2019-06-08 04:02] #461 closed

[2019-06-11 18:49] sleon-fmi commented on #533
As of June 2019 I'm getting this error with:
- `pynamodb==3.3.0`
- `boto3==1.9.42`
- `botocore==1.12.42`

Is there a planned fix for this? Is `botocore==1.10.84` still the latest version known to not have this issue?

[2019-06-11 18:52] ikonst commented on #533
@sleon-fmi it is fixed in pynamodb 3.3.1, not 3.3.0

[2019-06-11 20:26] sleon-fmi commented on #533
Will check it, thank you!

[2019-06-12 06:50] ikonst opened #647 "pynamodb uses botocore 1.12 features"
In #590, we’ve merged `BillingMode` support to pynamodb. We currently require `botocore>=1.11.0`:
https://github.com/pynamodb/PynamoDB/blob/71c33e8fce228c02ad0aa327a0dedaabb2bfd15d/setup.py#L27
However, `BillingMode` is only available since botocore ~1.12.166~ 1.12.54:
https://github.com/boto/botocore/commit/224642e01396fb7683757ba03451384e1184ffc9

Moreover, #637 was misguided. Despite what I cla

[2019-06-13 23:46] #647 closed

[2019-06-15 17:41] MacHu-GWU opened #650 "Does PynamoDB support ScanIndexForward is False?"
Hi I didn't see there's an option to scan the data with ``ScanIndexForward = False`` , which is defined here https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Client.scan

Could you give me an example ? Thank you

[2019-06-15 17:45] MacHu-GWU commented on #650
Nevermind, looks like boto3 scan doesn't support this argument, only query() can do that. Sorry for the stupid question.

[2019-06-15 17:45] #650 closed

[2019-06-17 14:24] MacHu-GWU opened #651 "Implement S3 Backed Binary Attribute"
@jlafon Hi, I want to implement a special attribute for Binary attribute that stored on S3.

It is like if you defined a large binary field and another unicode field for s3 uri, it actually writes the binary to s3 bucket instead of dynamodb. when you delete that item, it also delete the s3 object. when you update that item, it also update the s3 object. I think it is a very nice to have feature fo

[2019-06-17 17:06] ikonst commented on #651
@MacHu-GWU Generally we're trying to keep only attributes that map to core DynamoDB features. Some of the existing attributes (e.g. `UTCDateTimeAttribute`) don't match that definition, but we're trying not to add more of those :)

I've created lyft/pynamodb-attributes to collect some of those "useful but not core" attributes. That being said, I find this pattern to be somewhat strange -- e.g. `sav

[2019-06-17 17:31] MacHu-GWU commented on #651
@ikonst Thank you for your quick reply! Good point, then I think I can create a Mixin class for that purpose without changing ``.save()`` behavior.

[2019-06-22 02:53] ikonst opened #652 "UTCDateTimeAttribute can return non-tz-aware datetime"
UTCDateTimeAttribute will deserialize into a offset-aware `datetime`, but will gladly serialize naive `datetime`s, making an implicit assumption about them being in UTC timezone. (As a side note, this is a departure from Python's standard library behavior, whose `datetime.timestamp` assumes the local timezone for naive `datetime`s.)

The local model can store any value assigned to it, and will ret

[2019-06-22 05:00] ikonst commented on #515
@NodoFox Do you remember in which cases the `ValueError` would occur? Is this trying to parse times that weren't written by PynamoDB?

[2019-06-23 18:19] jcomo commented on #652
+1 I think I'm more in favor of (2) because raising on set will help developers track down incompatibilities more quickly before they manifest as type errors. This could also be done with a `strict=True` option in the attribute to migrate progressively if backwards compatibility is the blocking concern

[2019-06-24 03:17] ikonst commented on #652
Then probably better to enforce in a `__set__` since it flags the error closer to the point where it happens.

[2019-06-28 16:04] wobeng commented on #89
any update on this feature?

[2019-06-28 16:22] ikonst commented on #89
@wobeng It's being actively developed and will likely land in the master branch (i.e. the 4.0 beta) next month. Watch #618.

[2019-06-28 22:48] emise commented on #316
I also ran into this issue, and it seems to be intermittent - after retrying the call several times it went through.

[2019-06-28 22:57] ikonst commented on #316
I think the issue here is that the index itself is missing but the error is misleading -- should be addressed by #641. This is to be expected since, for an existing table, the GSI can take time to backfill.

[2019-07-01 07:24] jaredtkatz commented on #89
Nice!

On Fri, Jun 28, 2019 at 12:22 PM Ilya Konstantinov <notifications@github.com>
wrote:

[2019-07-03 12:29] wobeng commented on #89
@ikonst thank you...for all you do

[2019-07-08 19:18] #89 closed

[2019-07-10 07:45] svdgraaf opened #662 "`id` field not available in 4.0.0b2 and up"
I bumped into an issue with while testing out 4.0.0b2 and up. Posting this to keep a record, I'm actively working on finding what the issue is. (Python 3.7)

**What is happening**
The `id` field (and only the `id` field) does not seem to be available, or is at least broken. Not sure yet if this is because the `id` is a preserved name or not.

[code]

**When does this occur**
This only occurs in `b

[2019-07-10 07:54] ikonst commented on #662
I changed your code slightly to get the table to create and to save the item:
[code]
got me:
[code]

[2019-07-10 08:49] svdgraaf commented on #662
I've found the issue to be in `models.py from_raw_data`, I see a lot of code got removed in this commit for 4.0.0b2, maybe a bit too much? 😄

https://github.com/pynamodb/PynamoDB/commit/1b7eeb0e3874df8fb8ef2f8527cde04b88bb748e#diff-66d6c6d3d504b9e11a4e236e67133ddeL415

I'll see if I can provide a PR to reconstruct the hash key's correctly.

[2019-07-10 09:31] svdgraaf commented on #662
Ok, got it. It's sort of a bug, maybe? :)

I used a `UnicodeAttribute` for my id's. Those were actually setup as `int` in Dynamo (table was created through cloudformation outside of PynamoDB). Fetching with a string instead of int just happens to work (probably because of some mapping somewhere).

Previously, in b1 and before, the key was explicitly given in the `from_raw_data` cls init (return li

[2019-07-10 09:48] 3dw1np commented on #629
Any update on this ?

[2019-07-10 17:05] ikonst commented on #662
@jpinner-lyft thoughts?

[2019-07-10 17:16] jpinner-lyft commented on #662
@ikonst maybe just more explicit release notes stating that the attribute types for the hash and range keys used in the model must match the table definition

[2019-07-10 19:47] ikonst commented on #629
Haven't had a chance to address this yet.

[2019-07-10 22:53] sreid commented on #629
Curiosity question: Ignoring the ability to create tables, if I put in arbitrary values in for the `read_capacity_units`/`write_capacity_units` for an existing table, will it affect the query execution in any way?

[2019-07-10 23:29] #662 closed

[2019-07-11 04:06] ikonst commented on #629
No, `read/write_capacity_units` are only used for provisioning table _if_ you choose to use PynamoDB for provisioning. Otherwise, they're unused.

I think we should consider making them optional and only raising an error if and when you choose to invoke `create_table`.

[2019-07-11 08:46] 3dw1np commented on #629
I hope the bug can be fixed before the release of v4.0 :)

[2019-07-11 08:49] 3dw1np commented on #629
But even when I remove the read and write capacity in the Meta of a Model (v3.4.1).
I've got this error:

[code]

@techdragon Did u apply a patch commit to enabling the on-demand mode capacity?

[2019-07-11 18:36] ikonst commented on #629
As I said, those parameters _do_ affect `create_table`.

[2019-07-12 11:48] 3dw1np commented on #629
@ikonst I deleted the tables and I re-created them, I was thinking the issue was only for GSI.
But as u said, the `read/write_capacity_units` parameters must be optional on invoking `create_table`.

[2019-07-16 13:36] #614 closed

[2019-07-22 13:20] aventurella opened #666 "Is pagination handled through iterating the query?"
Is pagination automatically handled by just iterating the query or do we have to handle it as illustrated in #379:

[code]

[2019-07-22 17:42] ikonst commented on #666
As you'll notice, this example _is_ just iterating over the query results. The part with `last_evaluated_key` is needed if you want your query to be resume-able.

[2019-07-22 18:05] luke-gong opened #668 "Cannot update TTLAttribute by timedelta"
If we want to update TTLAttribute, we currently can only do something like `dynamo_expiration_time_secs.set(datetime.now() + timedelta(hours=4))`. Would like to have the support to use timedelta directly to update TTLAttribute.

[2019-07-22 20:47] hallie commented on #591
@pedromachados pynamodb 4.0.0 will include support `TransactWrite`, which includes the ability to `update` multiple items in one operation :0 hope that helps!

[2019-07-23 16:01] edholland opened #669 "MapAttributes and Global Secondary Indexes"
Hi,

Its not clear to me from documentation if it is possible to construct an index on a top-level field of a MapAttribute.

I would like to do something along lines of

[code]

Is this possible at the moment in pyanmo?

[2019-07-23 18:16] ikonst commented on #669
Unfortunately it's not possible in DynamoDB:
https://stackoverflow.com/questions/30261734/dynamodb-create-index-on-map-or-list-type

[2019-07-23 18:16] #669 closed

[2019-07-24 22:05] ParkerD559 commented on #490
If anyone stumbles on this, you need parentheses separating conditions so the above should be
[code]

[2019-07-28 16:10] wobeng commented on #562
any update on this request?

[2019-07-29 18:25] ikonst commented on #562
@wobeng Not aware of any progress being currently made.

[2019-07-29 23:06] DavidM42 opened #672 "Geospatial indexing and querying"
I know that this probably doesn't qualify as core functionality for dynamodb access but it would be really helpful for geo-location based services to utilize geospatial indexing and queries.
AWS showcased a Java [library for geospatial indexing some time ago](https://aws.amazon.com/de/about-aws/whats-new/2013/09/05/announcing-amazon-dynamodb-geospatial-indexing/) and someone built an [unofficial n

[2019-07-30 20:19] wobeng opened #673 "attributes_to_get is missing in models.pyi"
attributes_to_get is missing in models.pyi

in models.py

[code]

in models.pyi

[code]

[2019-07-31 11:59] wobeng opened #674 "why does changing items require get?"
First of thanks for PynamaDb. Great tool.

I was reading the  [changing items](https://pynamodb.readthedocs.io/en/latest/quickstart.html#changing-items)in documentation

[code]

I was wondering why a read/get from the db is required before updating an  item. Why can't I just update the item?

[2019-07-31 17:54] ikonst commented on #674
Technically I don't think you need to `get` -- might suffice to:
[code]

[2019-07-31 17:55] wobeng commented on #674
got it...thanks

[2019-07-31 17:55] #674 closed

[2019-07-31 18:20] wobeng opened #675 "a way to return values when putting an item"
Is it possible to specify return values when putting an item (using save) just in case I'm overwriting?

something like this

[code]

[2019-07-31 18:44] ikonst commented on #675
`save` doesn't accept `return_values `currently. In fact, pynamodb doesn't surface `return_values` at in the high level API. I suspect this is because, being an ORM, it has certain expectations about return values.

Is this a feature request?

[2019-07-31 18:50] wobeng commented on #675
I see, maybe we should find a way to specify it somehow. `ALL_OLD` or `None` is the only option for put item so if we make the default ALL_OLD and save it somewhere it won't hurt.

[2019-07-31 19:56] ikonst commented on #675
What are you trying to achieve with this?

[2019-07-31 20:02] wobeng commented on #675
I want to be able to process delete an old item in another system after overwriting,

The current way is to get the item, overwrite it and process delete an old item

[2019-08-02 08:18] skytreader commented on #448
@chekan-o's solution is correct but might not be complete. In my case I also had to specify the `aws_access_key_id` and `aws_secret_access_key` Meta fields.

[code]

**_My_** problem might've been with serverless, though, which is what I used to deploy my service. Notably, this only happened to me when I attempted to provision my DynamoDB tables from the `serverless.yml` specification. When I had

[2019-08-02 08:40] chekan-o commented on #448
@skytreader the reason why you nee secret key is because you haven’t provided your lambda with IAM policy that allows connection to the DynamoDB. You just need to add/modify IAM policy in your sls yaml template.

[2019-08-02 21:21] wobeng commented on #629
Any update on this? I ran into the same issue

` AttributeError: type object 'Meta' has no attribute 'read_capacity_units'` its a temp fix around?

[2019-08-03 00:12] KashishGoel opened #676 "list_iterator doesn't have last_evaluated_key object"
Trying to get the last_evaluated_key returns this error: `'list_iterator' object has no attribute 'last_evaluated_key'"`

The code trying to access it matches what the docs say. So not quite sure what's going on.
[code]

PynamoDB version: `4.0.0b2`

[2019-08-03 06:00] ikonst commented on #676
I've tried this and it seems to work for me. Can you try reproducing it locally?

[2019-08-03 06:06] ikonst commented on #629
If you set the read and write capacity to e.g. 1, will it work for you? DynamoDB shouldn't take them into consideration once your billing mode is on-demand.

Alternatively, you don't have to use PynamoDB to provision your tables. You can use:
1) AWS Console
2) `aws` command line utility
3) Terraform
4) Any other tool which orchestrates AWS resources

[2019-08-03 13:30] wobeng commented on #676
@ikonst I have a similar problem but my return None

[2019-08-04 23:27] wobeng opened #677 "Delete should not validate non-key attributes in transaction"
Referring to #216 for transaction

[2019-08-05 08:14] 3dw1np commented on #629
Last week, I moved the provisioning of the tables / GSI with Cloudformation.
If I removed the read and write capacity attributes of the Model it works. But if I removed that also on the GlobalSecondaryIndex, I hit the following error like @wobeng :

`AttributeError: class Meta has no attribute 'read_capacity_units'`

[2019-08-05 12:47] skytreader opened #678 "Can't Query table without AWS credentials in in Model's Meta class"
Similar to my scenario in #448, I discovered that I can't query on my table due to permissions:

[code]

This, despite that `dynamodb:Query` is declared in my allowed actions in the `iamRoleStatements` declaration of my `serverless.yml`.

The only way I got it to query at all is by including my AWS credentials in the Meta class of my table model.

In fact, I discovered that, at least for querying,

[2019-08-05 21:43] garrettheel commented on #676
@KashishGoel's issue is related to other application logic changing the `ResultIterator` into a `list_iterator`.

@wobeng I'd guess that the value is legitimately `None` because you've consumed all of the items.

See: https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html

Note that `ResultIterator` is a view over all results, not a single page.

[2019-08-06 03:49] garrettheel commented on #678
Storing credentials in source code is certainly not recommended or required. PynamoDB should respect all of the standard credential mechanisms through the underlying use of `botocore`. Environment variables, instance metadata, config file, etc. should all work fine.

It sounds like you're using lambda, so you'd be relying on the environment variables set in https://docs.aws.amazon.com/lambda/lates

[2019-08-06 21:29] #676 closed

[2019-08-09 14:27] garrettheel commented on #673
Would be happy to take a PR to fix this! Otherwise we'll get around to auditing and improving the type stubs in future.

[2019-08-12 12:52] fvess commented on #629
Any update on this? I believe many AWS users have moved to on-demand tables, and it would be very beneficial to have the support soon. Thanks.

[2019-08-13 02:49] ikonst commented on #677
@hallie do we need to fix this for transactions?

[2019-08-13 02:58] hallie commented on #677
@ikonst @wobeng we would need to change [this](https://github.com/pynamodb/PynamoDB/blob/12d8fd23025c4b6a1f4ec2a98b14d2f8277e1782/pynamodb/models.py#L422) line to:
[code]

[2019-08-13 05:40] ikonst commented on #629
@fvess There are no updates. Do note that is not a blocking issue for on-demand tables.

[2019-08-14 13:23] Seluj78 commented on #417
Ping ?

[2019-08-14 17:13] ikonst commented on #417
I think right now our story for provisioning and reprovisioning tables on actual AWS DynamoDB is pretty weak. We're using PynamoDB at Lyft, and within Lyft we effectively only use PynamoDB's `create_table` in development against dynamodb-local and similar databases, while we do our provisioning with Terraform.

[2019-08-14 18:33] Seluj78 commented on #417
Well same here @ikonst, just that I was wondering if it would be possible to have an option in `create_table` to set the auto scaling parametters like in the console

<img width="772" alt="Screenshot 2019-08-14 at 20 33 34" src="https://user-images.githubusercontent.com/4641317/63046484-ce982d80-bed2-11e9-82b0-bb5c36803a1c.png">

[2019-08-14 18:43] ikonst commented on #417
@Seluj78 What I'm asking is how is it useful to you? Are you provisioning **production** tables with PynamoDB?

[2019-08-14 18:44] Seluj78 commented on #417
@ikonst this is totally going to look dumb but I forgot why I needed it... So nvm I guess, my bad 😖

[2019-08-14 18:44] Seluj78 commented on #417
But no I am not

[2019-08-15 02:15] tedivm commented on #629
It's not? Is there documentation somewhere saying how we can use PynamoDB for creating on-demand tables?

[2019-08-15 03:16] wobeng opened #680 "Example on how to increment and decrement a number"
I keep getting the error below

[code]

[2019-08-15 05:37] ikonst commented on #629
@tedivm There's no documentation yet (contributions welcome) but basically you set `billing_mode` in the table's `Meta`. This would have effect on the GSIs and LSIs you're creating too. GSIs and LSIs will need a `read_capacity_units` but you can set `read_capacity_units = 1` and it will have no effect.

Furthermore, you can use PynamoDB to access existing tables that you provision through differen

[2019-08-15 18:30] ParkerD559 commented on #569
Looks like this is still an issue when `host` is specified in the table's meta class:

https://repl.it/repls/DeliriousSatisfiedArchitecture

[code]

[code]

gives

[code]
[code]

[2019-08-15 20:42] ikonst commented on #569
cc @garrettheel ^

[2019-08-16 11:11] fvess commented on #629
For anyone still wondering how to create on-demand DynamoDB tables with pynamodb, just add `billing_mode = 'PAY_PER_REQUEST'` in the Meta of your model class.

Additionally, if you are using pynamodb with serverless, you might encounter this error:
`Unknown parameter in input: "BillingMode", must be one of: AttributeDefinitions, TableName, KeySchema, LocalSecondaryIndexes, GlobalSecondaryIndexes,

[2019-08-16 23:16] ikonst commented on #629
IIRC, it's a botocore issue (we use botocore, not boto3). The minimum version for 'BillingMode' is botocore 1.12.54 and it should already be installed when `pip install`-ing pynamodb:
https://github.com/pynamodb/PynamoDB/blob/7d6849bbf434be94441dbcdaf6bed6664a1236dd/setup.py#L27

[2019-08-17 20:04] kennovation1 opened #681 "Description of limit parameter is not accurate"
The limit parameter for the scan method is defined as:

However, this is not really what limit does. The Boto3 doc for limit in part reads:

In other words, limit is really used to limit the size of the scan. It has a secondary effect of limiting the result set length. I think that the Pynamodb library might be using it in both ways, passing through to dynamodb and also using it to limit the resul

[2019-08-17 22:35] amirvaza commented on #680
user.update(actions=[User.Requests.set(User.Requests + 1)])

[2019-08-17 22:55] amirvaza commented on #473
@alexanderfanz
What about something like that:
user.update(actions=[User.Requests.set(User.Requests + 1)])
Obviously i get "The provided expression refers to an attribute that does not exist in the item"
Any solution?

[2019-08-19 21:26] andrewli1030 opened #682 "Proper way to specify type annotation of a MapAttribute subclass?"
Supposed I define a `MapAttribute` subclass like follows:
[code]

When I run pre-commit's (rev 2.1.0) mypy hook (rev 0.701), I run into the following error:

[code]

I am using `pynamodb==4.0.0`.

[2019-08-20 12:54] garrettheel commented on #678
Closing for now, feel free to reopen if you have more questions!

[2019-08-20 12:54] #678 closed

[2019-08-21 06:56] shivamsharma0612 commented on #629
Even in the current release (v.4.0.0) there is a bug in the code. While creating the table it still uses PROVISIONED_THROUGHPUT in a map even when billing mode is set to PAY_PER_REQUEST. Which fails to create the table eventually with a validation error

as dynamodb does not expect provisioning options for on demand mode. I have a fix for this bug but I am not sure how to request for a push access

[2019-08-21 14:57] dmulter commented on #680
See [Updating Items](https://pynamodb.readthedocs.io/en/latest/tutorial.html#updating-items) in the docs.

[2019-08-21 15:36] garrettheel commented on #682
This is happening because the `disallow_any_generics` is enabled in your mypy conf. The way we currently type `MapAttribute`s is flawed due to it behaving differently depending on whether you subclass it or instantiate it directly.

@jpinner-lyft do you think it's worth creating a new issue to track the Model/MapAttribute changes that you had lined up?

[2019-08-21 20:16] tedivm commented on #629
@shivamsharma0612- you shouldn't need push access, you should be able to just make a pull request. What branch did you make the changes in on your fork?

[2019-08-22 06:16] shivamsharma0612 commented on #629
@tedivm I cloned the repo and forked the master branch but the push in the new branch dint go through, with a permission denied error. Should i fork the repo and then make the changes, my bad i am a new contributor. Any help will be much appreciated.

[2019-08-22 06:21] tedivm commented on #629
What you'll need to do is change your local clone to reference your personal fork on the website.

[Github has some instructions on this](https://help.github.com/en/articles/changing-a-remotes-url).

Essentially run this in the repo-

Then you can commit your changes to your fork, and make a pull request back here.

[2019-08-22 08:40] 3dw1np opened #683 "Count class method always return 1"
I have several model item into the dynamodb table but the class method of the pynamodb model is always returning 1 event with the consistent_read parameter.

[code]
I am trying to get a sequantial number value related to the number of item in the dynamodb table.

[2019-08-22 11:48] 3dw1np opened #684 "Generate filter conditions"
Since the deprecated conditional APIs have been remove on v4.0.0.
How can I generate filter conditions like this :
[code]

with in the example the operator can be __eq__ or contains.
What about multiple conditions with & or | ?

[2019-08-22 16:39] wobeng opened #685 "List of Map: How to delete an item in list if item attribute equal a value"
How do I delete Justin from the employee list with a condition of OfficeEmployeeMap.person == 'justin' ?

[code]

[code]

[2019-08-23 19:22] ikonst commented on #685
Looking at the [UpdateItem](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_UpdateItem.html) API documentation, you can see that the only action that mutates DynamoDB list types is `list_append` which appends items.

I don't think you can conditionally remove items from a list.

I would recommend simply re-saving the item. If you're concerned about overwriting concurrent changes

[2019-08-25 00:19] wobeng commented on #677
Hi guys,

can we add this to the next release?

[2019-08-25 00:33] wobeng commented on #677
@hallie when I made a change locally, I got this error below

[code]

[2019-08-25 10:21] wobeng commented on #685
@ikonst yea you can, you can delete by

```Office.employees[0].remove() with a condition of Office.employees[0].person == 'justin'```

[2019-08-25 10:22] wobeng commented on #677
I had to do monkey patch

[code]

[2019-08-28 22:36] Jamim commented on #558
Related PR: boto/botocore#1817

[2019-09-01 09:13] akashg90 opened #686 "Multiple Models on top of One DynamoDB Table"
Hi All,

It is being suggested by DynamoDB Best practices that ["most well designed applications require only one table"](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-general-nosql-design.html). Does anyone has tried to fit all relational entities in one DynamoDB table and access them through PynamoDB.

Please share the experience, if anyone tried to follow this best practic

[2019-09-04 14:58] ashiishsharma opened #687 "Do PynamoDB support AWS DAX ?"
I am using PynamoDB for accessing my AWS DynamoDB tables, Now I need to implement the caching via [AWS DAX](https://aws.amazon.com/dynamodb/dax/) .

Does PynamoDB support DAX , even if some source code changes are required to make it work , I can do it myself too.
Kindly guide me  accordingly.

[2019-09-05 15:09] pedrotcaraujo opened #688 "ListAttribute supports any Iterable types"
Hi all,

By creating a new PynamoDB model in my project I noticed that the `ListAttribute` supports any iterable types, such as `string` or `dict`, for instance. Is that behavior expected?

if I assign a `string` to a `ListAttribute`, for example `"asdf"`, it stores in dynamodb something like this `['a','s','d','f']`

In this case, I'm fairly expecting to Pynamodb to accept only List types.

Thank

[2019-09-06 10:14] gowtham800 commented on #152
I am getting empty attribute object response. Can some one help me please....

class PNFGDINDEX(GlobalSecondaryIndex):
                """
                This class represents a global secondary index
                """
                class Meta:
                    # index_name is optional, but can be provided to override the default name
                    index_name = 'PN-FGD-Index'

[2019-09-06 10:21] gowtham800 opened #689 "Query returning only HASH and Range. Attributes empty when printing serialized object"
I am getting empty attribute object response. Can some one help me please....

        class PNFGDINDEX(GlobalSecondaryIndex):

            class Meta:
                index_name = 'PN-FGD-Index'
                read_capacity_units = 5
                write_capacity_units = 5
                projection = AllProjection()

            ProjectName = UnicodeAttribute(hash_key=True)
            FileGen

[2019-09-08 18:07] garrettheel commented on #689
If you check the table schema, is `PN-FGD-Index` actually set to have an `ALL` projection type? I'm guessing that the table was created prior to specifying that or it's managed externally to pynadmob and configured wrong.

[2019-09-09 04:51] gowtham800 commented on #689
@garrettheel ```PN-FGD-Index``` does not project all Attributes. It is set only to project Id, createdTimeStamp, ProjectName, FileGeneratedDate, FileNameKey & VehicleName respectively. I tried IncludeProjection(attributes)....still returned empty.
And yes the Index was created a few months after table was created using AWS Console....

[2019-09-13 13:50] trenta3 opened #692 "zappa: Unknown parameter in input "BillingMode""
I'm trying to create a table using pynamodb but the table creation process fails with the title error. I haven't found other issues with the same error, and I'm using pynamodb in the suggested way in the documentation.

**About the problem**:
I use pynamodb with zappa and I have, in the same folder where `zappa_settings.json` lives, the following files:

`create_tables.py`:
[code]

`models.py`:
[c

[2019-09-13 14:19] ikonst commented on #692
Not sure why it happens. Supposedly we fixed it in https://github.com/pynamodb/PynamoDB/pull/648. Can you double check (with `pip show botocore`) what version you have?

[2019-09-13 14:36] trenta3 commented on #692
Of course.

[code]

[2019-09-16 13:31] jminnie opened #693 "transactions module is not available"
Hi,

I'm trying to use the newly added transaction functionality in `4.0.0`,  however,  the `transaction` module is nowhere to be found, leading to an unresolved reference when I do this:
[code]
Please let me know if I'm doing something stupid that should allow this to work.

[2019-09-16 14:50] horike37 commented on #693
I ran into this issue too.

[2019-09-16 14:52] Yaronn44 commented on #692
Same problem here with `pynamodb==4.0.0`, ` botocore 1.12.228` and `boto3==1.9.228`

[2019-09-16 14:57] horike37 commented on #693
@jminnie
Seems that the documentation is wrong. maybe here is a right

[code]

[2019-09-16 17:23] ikonst commented on #692
For a sanity check, can you do
[code]
from the same code that exhibits the problem?

[2019-09-16 17:31] ikonst commented on #693
@hallie I think we forgot to update the docs here?

[2019-09-16 17:33] hallie commented on #693
oops!

[2019-09-16 19:48] jminnie commented on #693
Awesome,  [that worked](https://github.com/pynamodb/PynamoDB/issues/693#issuecomment-531815680).  Thanks!

[2019-09-17 08:20] michalkurpis commented on #692
@trenta3 @Yaronn44
The problem is caused by fact that `Zappa` do not copy your local version of `botocore` and `boto3` by default, so lambda function uses built-in version which is `1.12.42` for `botocore` and `1.9.42` for `boto3` (Python 3.7)
To fix that issue and add your local version of `botocore` and/or `boto3` add `exclude` setting to your `zappa_settings.json`:

[code]
[How zappa makes pack

[2019-09-17 17:59] ikonst commented on #692
Assuming this is a zappa issue, so I'm closing. Reopen if you feel this is still a problem with PynamoDB.

We can consider adding a runtime check for the botocore version and emit a warning.

[2019-09-17 17:59] #692 closed

[2019-09-19 22:06] tedivm commented on #211
Bump! We ran into this issue today and it would be great if this could get resolved.

[2019-09-19 23:31] tedivm commented on #629
For the record this issue is definitely not resolved. We've followed all of the advice in this thread and can not get the create tables functionality working. We have a fully up to date version of boto3 and botocore, but keep getting this-

[2019-09-19 23:54] tedivm commented on #629
Researching this a bit more, it seems that the AWS API itself is getting more strict about this. I looked at the botocore code and it's just passing things along blindly, and the actual documentation is very explicit that we should not be passing these parameters.

My guess is that they were not as strict about the API earlier and were silently discarding these fields, but as of the most current v

[2019-09-20 07:58] grvhi commented on #686
I've done this using PynamoDB, but you have to be very conscious of how you manage your model's Meta classes, hash keys etc (if you implement inheritance).

The thing to be careful of is how you manage your composite keys (assuming you're using composite keys for either your hash or range keys). I've found that using a custom Attribute for hash/range keys helps a lot and this strategy can enable s

[2019-09-21 02:57] ikonst commented on #686
You might be able to use a `UnicodeDelimitedTupleAttribute` to somehow formalize that "composite key" approach:
https://github.com/lyft/pynamodb-attributes/blob/master/pynamodb_attributes/unicode_delimited_tuple.py

It's a fair thing to say that if your datastore is schema-less, thought you might have schema in the application layer, you don't need to involve your datastore in that by naming your

[2019-09-21 04:15] grvhi commented on #686
Thanks @ikonst - the `UnicodeDelimitedTupleAttribute` is definitely a good way to manage composite keys; it's very similar to the approach I've taken on my projects.

On the back of the custom in-application work I've been doing, I've started working (very casually) on a library which uses PynamoDB's `models` and some `Attribute` classes, but encourages the concept of modelling your data as Dynamo

[2019-09-21 16:32] ikonst commented on #683
This is not a PynamoDB issue.

See the [ItemCount](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_TableDescription.html#DDB-Type-TableDescription-ItemCount) documentation:

If you need to count the number of items precisely, you can scan the database, but then if you need to do it, DynamoDB is probably not the right tool for you.

[2019-09-21 16:32] #683 closed

[2019-09-21 16:32] #680 closed

[2019-09-21 16:35] ikonst commented on #684
Something like this should be easy:
[code]
and then use this condition wherever you need

Let me know if you have a more specific question.

[2019-09-21 16:35] #684 closed

[2019-09-23 10:19] curlywurlycraig commented on #686
I'm working on a project that is following the linked best practise for data storage. As it stands, there doesn't seem to be any documented support for this access and storage pattern. Is there any goal to eventually include this as part of the documentation?

@grvhi Do you have any further reading on your approach?

In the meantime, I'm going to make a small attempt at this and report back on my

[2019-09-23 14:07] grvhi commented on #686
@curlywurlycraig - I don't have any documentation or currently-available reference implementation. However, I will say that the `UnicodeDelimitedTupleAttribute` is definitely a good starting point, based on what I've come across going down this road, so far.

The library I'm working on (which I refer to briefly above) has implemented a class I've called `Partition` which uses PynamoDB's `MetaModel

[2019-09-23 14:09] curlywurlycraig commented on #686
That could be pretty helpful for me. I'm currently having a crack at creating a very minimal similar thing for our use cases, so having a reference would be helpful if you're interested in sharing the source.

[2019-09-23 14:28] grvhi commented on #686
@curlywurlycraig - here's a gist: https://gist.github.com/grvhi/78889f32b3701c421ef30e72aebc7f69

I've tried to remove anything which related specifically to the integration of `graphql-core-next`; hopefully I've neither removed too much, nor too little! Happy to address comments/questions (if you have any) on the gist itself.

Note that there's still a lot of work to be done here and I'm very muc

[2019-09-23 14:30] curlywurlycraig commented on #686
@grvhi Thank you! I'll take a look at this. I have my own piece of code at the moment and will compare. Your approach looks more comprehensive than mine.

[2019-09-24 03:13] grvhi commented on #689
@gowtham800

[code]
Should be:
[code]

[2019-09-24 16:34] doppioandante opened #695 "Fetching data with projection"
I have a big table and I want to fetch all the primary keys and no other attribute.
From the aws cli I can do
[code]
This limits the output of the scan to a manageable size, whereas a full scan is daunting (and makes my lambdas timeout).
I'm very new to dynamodb and I'm probably missing the basics, from what I can tell I am supposed to use an index in PynamoDB, I'm just wondering why the basic fun

[2019-09-25 06:26] dengun-kevcal opened #696 "Question: Last Evaluated Key returning None"
Hi i'm using pynamodb for a project in our company. I'm having issues with using scan and last evaluated key. I'm trying to do pagination. I created 100 of items and set my limit to 25. After querying i get 25 initial results but my last_evaluated_key always returns None. I'm fairly new to dynamodb and pynamodb so im not sure if this is correct way of doing things. I would expect that it would ret

[2019-09-25 06:58] ikonst commented on #696
Can you try iterating over objs first, i.e.
[code]

[2019-09-25 07:07] dengun-kevcal commented on #696
@ikonst that worked, thanks. I didn't knew that you had to iterate it over first probably since its generator. Maybe you can add this to the documentation. Thanks again.

[2019-09-25 07:07] #696 closed

[2019-09-26 05:05] #629 closed

[2019-09-26 13:08] CrabbyPete opened #697 "simple get return attributes error"
with Python 3.7 a simple get call
id = '10015'
item = Item.get(id)

Failed to get item: Parameter validation failed:
Invalid type for parameter Key.item_id.S, value: [{'S': '1'}, {'S': '0'}, {'S': '0'}, {'S': '1'}, {'S': '0'}, {'S': '5'}], type: <class 'list'>, valid types: <class 'str'>

[2019-09-27 05:26] ikonst commented on #697
It appears as if you're doing `list(id)` somewhere. Could you share more of the code?

[2019-09-27 12:48] CrabbyPete commented on #697
I discovered what it was. I made  the model field a list, when the underlying record had a map.
I was simply doing a get
       item_new = Item.get(item['item_id'])

The model was

class Item(Model):
    class Meta:
        table_name = items

    item_id         = UnicodeAttribute(hash_key=True)
    unit_of_measure = UnicodeAttribute()
    description     = UnicodeAttribute()
    list_price

[2019-10-01 19:42] wobeng opened #698 "Dynamic key in a map"
How will I build a model with the example below. `random_media_id` will be auto-generated id when its being created.

[code]

[code]

[2019-10-01 19:43] wobeng commented on #685
got it, thank you

[2019-10-01 19:43] #685 closed

[2019-10-02 14:39] ikonst commented on #695
This looks like a feature request. Other methods (e.g. `Model.get` and `Model.query`) accept an `attributes_to_get` argument, but the `scan` method does not yet.

[2019-10-02 14:41] ikonst commented on #698
PynamoDB, being an ORM, isn't well-suited for data with such lose schema. You can have arbitrary data in an attribute by using an untyped `MapAttribute`, but you can't have arbitrarily named attributes in the top-level models. If you want to do that, you might as well just use boto directly.

[2019-10-02 14:41] #698 closed

[2019-10-02 14:42] #689 closed

[2019-10-02 14:56] ikonst commented on #688
While there could be a case for explicitly rejecting strings, I think rejecting tuples might break legitimate existing code.

[2019-10-03 07:04] Veilkrand opened #699 "Batch saving items with composite keys only saves one item per hash_key"
I'm trying to save items in a batch with:
- `id` as hash_key
- `date` as range_key

After few batches new items with same id replace older items, where it should create new objects withe same id but different date value. Am I missing anything? How to create this behavior? Thanks

Model
[code]

Batch save function:
[code]

[2019-10-04 14:54] ikonst commented on #699
You're setting the same time (which you get outside the loop) on all your listings, so obviously they end up overwriting each other.

[2019-10-04 14:54] #699 closed

[2019-10-04 15:34] Veilkrand commented on #699
The `time` of one batch have to be the same, the `id`s per batch are unique.
Every time I call a new batch with `save_homes_dynamodb()` I save a set of unique `id`s with the same `date`.
However after several batches processed, the table only shows one object per id with the last date, not several objects with the same ids and different dates.

[2019-10-04 15:39] ikonst commented on #699
I have a theory: Perhaps the underlying DynamoDB table definition does not match the one that PynamoDB sees. PynamoDB doesn't try to ensure that its own view on the table definition matches reality, but you can do `aws dynamodb describe-table --table-name ...` and validate it yourself.

[2019-10-04 15:57] Veilkrand commented on #699
Right, there's nothing related to range_key in the table description:
[code]

I created the table using the model definition with `.create_table()`

How can I enforce the inclusion of the model defined range_key field in the table definition during creation?

[2019-10-04 17:18] ikonst commented on #699
Perhaps you did `create_table` before defining the range key. As your PynamoDB class stands now, the table should've been created with a range key.

At this point, your best bet is deleting the table (possibly with `delete_table`) and re-creating it, possibly with `create_table`.

[2019-10-06 02:16] Veilkrand opened #704 "Implement `migrate` command"
Implement a command to migrate old table data to a new table with a new model schema, in similar fashion Django does.

[2019-10-09 22:03] chrisbrantley commented on #526
Coming back to this after 1.5+ years. Looks like this is still a problem. I did a bit of digging and it appears that when you add an instance of an Index class to a Model class the Model will MODIFY the Meta class on the Index class and set the model attribute to the Model class.  The problem is that this one Meta class is shared across all instances of the Index class so whichever Model class doe

[2019-10-09 23:32] ikonst commented on #526
@chrisbrantley It is poor design and I'd change it exactly as you describe. Myself I found this design to be very surprising and confusing when I just started using PynamoDB.

[2019-10-10 18:18] TomGoBravo commented on #539
Hey @ikonst, this is the source of the one warning when I run tests in my repo. Please may you merge PR #541 (or something like it) to master?

[2019-10-11 14:13] #501 closed

[2019-10-11 14:15] ikonst commented on #539
Not fixed in #701?

[2019-10-13 01:24] getimti opened #706 "Understanding TransactWrite"
I am trying to simulate "unique" constraint using two tables. Example is, say file path. It is an attribute in main table that has a UUID attribute as hash key (uniqueness provided by Dynamodb). To ensure uniqueness on path attribute, I created another table that has path as hash key, and wrapped both inserts in TransactWrite.

[code]

If i load test with 20 concurrent requests, I get unique entri

[2019-10-14 14:23] ikonst commented on #706
PynamoDB "Save" translates to a PutItem action in DynamoDB: note that there's no separate action for create vs. update, they're both "put"s. Therefore, creating a new model instance whose HK exists in the table and calling `save` will just successfully overwrite the previous entry.

To make sure it's a "create but not an update", use a `does_not_exist` write condition:
[code]
Feel free to adapt it

[2019-10-14 18:33] Drewrockon commented on #165
Also seeing this issue in 4.0.0 python 3.7

Is there a workaround for this? Deleting a table and recreating it is supposed to be cheaper than deleting every record in the table

[2019-10-14 18:40] ikonst commented on #165
I actually found the opposite to be true (assuming that you're doing it in tests) 🙄

Could it be that "reconnecting" simply introduces the necessary delay? What happens when you simply sleep?

[2019-10-14 19:31] Drewrockon commented on #165
It seems like the wait logic in create_table is the problem. It calls describe table but doesn't catch TableDoesNotExist which is an error you would expect if you are waiting for a table to be created

[2019-10-14 20:21] ikonst commented on #165
Uh, you might be right. FWIW I think @jpinner-lyft wanted to remove the `describe_table` call completely (though, then it's unclear to me _how_ one waits on a table's creation).

[2019-10-14 21:41] Drewrockon commented on #165
Interesting, I mean if you can figure out a way then sure cut that part out...

I tried setting wait=False and just waiting myself... It seems like the table just never gets created at all no matter how long I wait... Is it possible an exception is getting eaten somewhere?

[2019-10-14 21:58] Drewrockon commented on #165
Ok... I think you understood the issue before I did. The wait function isn't the problem... it is that there is no wait function in delete table so the `if cls.exists()` check in create_table means we never even try to create the table and that results in the wait function failing.

This is the solution I am using:
[code]

[2019-10-14 23:02] ricky-sb commented on #422
How did you guys end up solving this? I've got Indexes and Enums as well, which throws a bit of a wrench into things.

[2019-10-16 11:56] 3dw1np commented on #684
Thanks @ikonst !
Sorry for the delay, but in facts, I need generated condition from http query string like this:
[code]

Which give me a dict in my python app:
[code]
How to transform operators (eq and contains with == and contains, with a map) ?
And how to get a filter_condition with all my query filters ?

Many thanks !

[2019-10-16 14:14] ikonst commented on #684
I'd parse the query string's keys, e.g.
[code]

[2019-10-17 16:12] TomGoBravo commented on #539
@ikonst Yes, I tried running my tests against bf582948901649f3bcc6ec94ec367be83b7db504 and the warnings went away :-) Please make a new pypi release and mark this issue as fixed.

[2019-10-17 16:14] amirvaza opened #707 "Given key conditions were not unique"
Hello all,

Im trying to update_or_create a document which works most of the times

Table:
[code]
Here is the update command which sometimes failed:
`Report(SomeId="id", Time=get_current_time_report()).update(actions=[Report.IncAttr.add(1)])`

Somehow, in the database there are two documents with the same SomeId and Time

Is it some case of a race condition? Anyone have any idea?

Thanks.

[2019-10-17 16:52] ikonst commented on #707
I'm confused by this statement. DynamoDB is a key-value store where the key is a composite of (hash key, range key). How do you determine that a document "exists"? Do you perform `Report.get(some_id, some_time)`? This operation returns just one item.

Or do you perform a `Report.scan()`?

[2019-10-17 17:25] amirvaza commented on #707
No, im counting on document locking which means if its already exists, it will inc. Most of the times it works.
I took the idea from here.

[2019-10-17 18:18] syelburgi opened #708 "i am not seeing the Table entries in aws web console when using pynamodb"

[2019-10-17 18:32] ikonst commented on #708
Needs more details.

[2019-10-17 18:32] #708 closed

[2019-10-17 18:33] ikonst commented on #707
Could you re-phrase what you're seeing then? (Two documents with the same hash and range key is technically impossible in DynamoDB.)

[2019-10-17 18:41] amirvaza commented on #707
It is impossible, but - assuming there is a lock on this hash_key+range_key, and the only query im running is the one i put here. There should be no case which two documents with the same hash_key+range_key.

Unless there is a bug in pynamodb/dynamoDBLocal or something that i dont understand about range keys (probably)

[2019-10-17 18:54] ikonst commented on #707
Two documents with the same hash + range key are impossible. Not because of locking but simply because of how DynamoDB is.

Let me give you an example:
[code]
It's obvious that will always print 1, right? Same way for DynamoDB.

[2019-10-17 19:07] amirvaza commented on #707
How would u explain these two documents then:
[code]

[2019-10-17 19:26] ikonst commented on #707
Where are you getting them from?

[2019-10-17 19:27] amirvaza commented on #707
http://localhost:8000/shell/
[code]

[2019-10-17 20:05] ikonst commented on #707
Can you do a `describe table` operation on this table and paste the output?

[2019-10-17 21:27] amirvaza commented on #707
Sure
[code]

[2019-10-17 22:19] ikonst commented on #539
Released 4.1.0 with the fix.

[2019-10-17 22:19] #539 closed

[2019-10-18 08:49] YukSeungChan commented on #500
simply implement it like this
[code]

[2019-10-18 15:35] ikonst commented on #707
Try as I might, I cannot understand how you got into this state.

What do you get for:
[code]
?

[2019-10-18 20:46] getimti commented on #706
Got it working by adding the condition to the save. Thanks

[2019-10-18 20:46] #706 closed

[2019-10-19 17:54] amirvaza commented on #707
Error
[code]

And in DynamoDBLocal same error*4:
[code]

[2019-10-20 19:17] garrettheel commented on #695
Fixed in #431

[2019-10-20 19:17] #695 closed

[2019-10-20 19:18] garrettheel commented on #693
Thanks for fixing the docs!

[2019-10-20 19:18] #693 closed

[2019-10-21 13:42] ikonst commented on #707
🙀
This first one (`InternalFailure`) is with AWS DynamoDB?

[2019-10-21 15:51] amirvaza commented on #707
It is latest indeed.

Plus - I think you're wrong with the python hash example.
https://stackoverflow.com/questions/25350256/dynamodb-key-uniqueness-across-primary-and-global-secondary-index

I don't think my mistake is within the creation of the documents since one of the documents was inc'ed more than once (and i got to 3 or 4 inc's before i opened this issue here, deleted the table).
In such ca

[2019-10-21 18:58] ikonst commented on #707
There is no uniqueness in GSIs -- that's why you can't "get" from a GSI, you can only "query" a GSI. In other words, for a (HK, RK) pair on a GSI, you can get 0 results, 1 result or 1,000,000 results.

As for tables themselves, see https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.CoreComponents.html#HowItWorks.CoreComponents.PrimaryKey:

(partition key = hash key, sort k

[2019-10-21 20:56] amirvaza commented on #707
Yeah you're right, im too confused from this bug(?).

Any idea what to do next?

[2019-10-21 21:55] ikonst commented on #707
I'm suspecting an issue in dynamodb-local :/ I wonder if it relies on some property of the underlying SQLite that fails.

[2019-10-21 21:58] amirvaza commented on #707
Ill try to find a place to open a bug there then and in the meantime work on the real dynamoDB to see if it happens there too.
I guess you can close the issue, i will reopen if everything there is fine :/

[2019-10-21 21:58] #707 closed

[2019-10-24 13:54] baptisteem opened #713 "Failing import since botocore 1.13"
Since the update to botocore 1.13 the following import is failing

[code]

[2019-10-24 13:58] ikonst commented on #713
@baptisteem As of PynamoDB 4.0 we're no longer using requests either.

[2019-10-24 13:58] #713 closed

[2019-10-24 15:52] baptisteem commented on #713
Thanks for replying that fast, you're definitely right, I'll update it on my side 👍

[2019-10-29 13:19] garrettheel commented on #687
We don't currently support DAX, though I'd be open to adding support! I took a quick look and couldn't find the python client source, but if you want to do some research I'll be happy to discuss the best approach.

[2019-10-30 07:29] JiangKeshu opened #714 "create-table in ap-northeast-3 will fail for 'Unsupported input parameter BillingMode'"
I'm currently using 4.0.0 and got `Unsupported input parameter BillingMode` error when creating table in ap-northeast-3.
Here is the error stack:
[code]

My table defination is very simple:
[code]

This was because ap-northeast-3 doesn't support on-demand thus billing_mode is not yet supported in this region.
You can simply reproduce the error with CLI:

[code]

This fix is simple (but tricky), so

[2019-10-31 07:36] shungok commented on #152
Here is my solution for multi tier structure.

[code]

[2019-10-31 10:44] Flips01 opened #716 "TransactWrite update() documentation is wrong"
The documentation of TransactWrite's update() method is incorrect. It states that it is expecting model classes as arguments:

[Documentation](https://pynamodb.readthedocs.io/en/latest/transaction.html)

The update() method is actually implemented differently, it expects a model instance:
`def update(self, model, actions, condition=None, return_values=None):`
[Source File](https://github.com/pynam

[2019-10-31 17:09] hallie commented on #716
i guess i should take "great attention to detail" off of my resume

[2019-10-31 17:32] Flips01 commented on #716
@hallie Your commit is still wrong. There is also no hash_key attribute.

I would like to suggest that you change the implementation to reflect the current documentation. It appears to be more logical: The update command can also be used to create a new item if there is currently no item. E.g.:

[code]

It's strange that you have to create a Model-Instance for an item that probably doesn't exist y

[2019-10-31 17:36] hallie commented on #716
@Flips01 I agree that its more logical, but I went with using the model object because that's how `Model.update` works (its a method on the object, rather than the class)

[2019-10-31 19:46] ikonst commented on #716
I'd also want to add that'd be a breaking change, so updating the current version's documentation should probably happen regardless of the changes we want for the next version.

[2019-11-01 13:44] #716 closed

[2019-11-02 19:49] garrettheel commented on #714
@ikonst I noticed that we originally deleted the billing mode if it was the default value, but this was undone in https://github.com/pynamodb/PynamoDB/pull/648. Should we simply reapply this to handle regions that don't support on demand billing?

[2019-11-05 03:51] mfranco1 opened #719 "Scanning a sparse index returns items that should not be in the index"
Note: we only encountered this after migrating from v3.4 to v4.1

We have a model with a non-key attribute that can be null called "is_supported" and a global secondary index for that model that uses the "is_supported" attribute as its hash key. Previously the index would not include items that didn't have "is_supported" defined (as expected from a sparse index) but after upgrading to v4.1, runnin

[2019-11-07 14:48] garrettheel commented on #719
There's a lot of context missing from this required for us to help. Can you include a more complete example of the code you're running and ideally some code to reproduce the issue. Thanks!

[2019-11-07 15:14] garrettheel commented on #573
@srittau just circling back here, I think we've shipped the stubs long enough that it makes sense to remove them from typeshed. Let me know if you'd like me to open a PR for that!

[2019-11-07 15:24] srittau commented on #573
@garrettheel Sure, that would be great!

[2019-11-08 03:57] mfranco1 commented on #719
This is how the model and index are defined

`
from pynamodb.attributes import UnicodeAttribute, BinaryAttribute
from pynamodb.indexes import AllProjection, GlobalSecondaryIndex
from pynamodb.models import Model

class Language(Model)
  class Meta:
    table_name = "language"

  iso_code = UnicodeAttribute(hash_key=True)
  icon_url = UnicodeAttribute()
  is_supported = BinaryAttribute(null=True)

[2019-11-09 00:49] ricky-sb commented on #489
Looks like a [new connection](https://github.com/pynamodb/PynamoDB/blob/master/pynamodb/connection/table.py#L30) is generated for every table.

So you would have to initialize all your tables' connections in a global context.

[2019-11-09 01:11] ricky-sb commented on #687
It's supposed to be a near drop-in replacement to boto3, so you can expect the same output as a regular boto3 DynamoDB call. The only thing that's changed is how you call the API.

With Boto3/PynamoDB, you use an https request, with DAX, you need to construct the socket manually, no TLS.

You can view the source here: https://pypi.org/project/amazon-dax-client/#files

`AmazonDaxClient.py` is the f

[2019-11-13 15:35] darkash opened #724 "map attribute validation"
is there a way to validate a required key for MapAttribute()
I think it would be neat to at least have a schema for a Map that we can validate whether a certain key is not nullable before writing on dynamodb (not at the top-level)

Use case:
I have a model with map on it which I can store a key-value pair, in which this particular map must have a key named 'num' which is a number.

expectation:
If

[2019-11-13 22:26] flyinbutrs opened #725 "How do I update programatically / dynamically in version >4.0 ?"
I'm trying to update a module I use to pynamodb 4.0, but I don't understand how to convert one particular block into the new version now that `update` does not include `attributes`. Basically, the function takes a dict of keys/values to be updated in the DDB item, and formats them to be updated. In looking at the docs, I can't see a straightforward way to do that. Is there an equivalent option in

[2019-11-13 23:30] ikonst commented on #725
Normally you pass a list of actions to `Model.update`:
[code]

Are you trying to update attributes whose names you don't know in advance, e.g. that are coming from a free-form dict? How can you be sure that those attributes exist in your schema?

You can compose the list dynamically but you'd get an `AttributeError` if any of those attributes are not declared in your model:
[code]

[2019-11-13 23:33] flyinbutrs commented on #725
Correct, the system receives info about which fields need to be updated, and this function is supposed to make it work. I think I figured it out by doing this:

[code]

Is there a reason not to do it like so?

[2019-11-13 23:50] ikonst commented on #725
Doing it like this will rewrite the entire document including attributes that you didn't change. The reason to use `update` is to limit the update to specific attributes. For most cases, rewriting the whole document is OK. If you want to prevent conflicts with other saves done in parallel, you can also use a `VersionAttribute`.

[2019-11-13 23:55] flyinbutrs commented on #725
Ahah. So is there an equivalent way to the using `attributes` in the earlier versions? Is there a way to specify a conditional update that doesn't involve a lot of meta functions involve `if hasattr(Alarm, attribute)` type operations?

[2019-11-14 00:16] ikonst commented on #725
I think a big reason for using PynamoDB is to have schemas. If you don't need/have a schema, why not use boto directly?

[2019-11-14 00:23] ricky-sb commented on #687
Looks like a PR for this already exists:

https://github.com/pynamodb/PynamoDB/pull/470

https://github.com/uncovertruth/PynamoDB/pull/2

[2019-11-14 15:42] flyinbutrs commented on #725
In this particular case, it's a legacy application that we built a pynamodb schema for after these old functions were written, and the code above is how the developer chose to implement it. It's tech debt to update those functions to directly use the schema, but for now, I just need to be able to update to the newer pynamodb. I guess my method will have to do for now with a higher dynamo transacti

[2019-11-14 15:42] #725 closed

[2019-11-18 10:19] Tan-nn opened #727 "NumberAttribute after dict return String type instead of Numeric"
Env: Lambda, python3.7, DynamoDb
**Iusse:**  the attribue NumberAttribute after `dict` is String instead of Numeric

Mover, if I set year = NumberAttribute(null=True), I will get `"null"` instead of `null` after `dict(data)`

_For example:_
[code]

Because I use `lambda-proxy integration`, it required me `json.dumps()` object before response, for example:
[code]
when I have printed
print(dict(data

[2019-11-20 06:01] pleroux0 commented on #127
With version 4.2.0 this issue persists. Is this planned to be fixed or will this remain for compatibility?

[2019-11-20 16:38] ikonst commented on #127
I'm not aware of a "plan" for the next release.

@garrettheel Given we have this issue, do you see any reason not to move the existing behavior to a "legacy" attribute class for PynamoDB 5.x? (assuming someone will contribute this)

[2019-11-20 22:37] red-crown opened #729 "default_for_new option for attributes behavior is vague and not as expected"
I would have expected the `default_for_new` option on attributes to results in a conditional put_item request. However, it's unclear what the option does.

I thought it might result in an update action being added like this:

`some_field = if_not_exists (some_field, {'S': 'some value'})`

[2019-11-20 23:21] ikonst commented on #729
I agree. The goal of this option was to compensate for another bad design choice, which is that `default` applies to both "new' and "existing" models.

Admittedly, "new" and "existing" is also poor terminology. What "New" really means is "initialized by user" (e.g. `model = MyModel()`) and "existing" means "deserialized from network data" (e.g. `model = MyModel.get(123)`).

Because the `default` o

[2019-11-21 01:14] red-crown commented on #729
Good point. That's why I've resorted to having a custom method on my model where I do something like the following:

[code]

[2019-11-26 10:07] pleroux0 opened #731 "BinarySetAttribute.add fail during base64 decoding"
Minimal example:

[code]

Fails with

[code]

[2019-11-26 10:44] pleroux0 commented on #731
The issue was that it takes an iterable so changing it to:

[code]

solved the issue.

[2019-11-26 10:44] #731 closed

[2019-11-29 20:17] erichonkanen commented on #627
when I have `attr = NumberAttribute(null=True)` or without null=True, if the value is null (None), I get this same error... inspecting the code I see that in deserialize it's doing json.loads(value), which throws said error if value=None

[2019-12-01 00:10] erichonkanen opened #733 "Documentation lacking on table/gsi/lsi query/scan."
Hello, new to this lib and I noticed the documentation seems to be lacking with examples on how to scans/queries on tables/gsi/lsi.

The documentation states [`Index queries use the same syntax as model queries.`](https://pynamodb.readthedocs.io/en/latest/indexes.html#querying-an-index) yet information on model queries can't be found on the doc site.

It would be nice if there were more examples f

[2019-12-01 19:54] ikonst commented on #733
@erichonkanen This section seems to contain an introduction to querying tables:
https://pynamodb.readthedocs.io/en/latest/quickstart.html#querying

Can you suggest something you're missing or propose additional examples?

[2019-12-02 19:02] erichonkanen commented on #733
@ikonst sorry I somehow missed that section!

[2019-12-02 19:02] #733 closed

[2019-12-03 02:24] erichonkanen commented on #733
@ikonst what about examples of how to compare datetimes? Also what about using filter_condition?

For instance I have code that looks like this:
[code]
This was written and worked in < 4.0.0, but no longer works since `**filters` was removed. It's not clear how to write a filter expression using `query(index, filter_condition)`? How do you reference the correct value of the attribute? It is `model

[2019-12-03 02:47] erichonkanen commented on #733
maybe showing a table with all the available methods?
![image](https://user-images.githubusercontent.com/230757/70016063-24e9b480-1534-11ea-8861-8cf36be020e9.png)

[2019-12-03 09:28] abhyuditjain opened #734 "Custom atrributes default value not being set"
I have this model:

[code]

I get this error:

[code]

[2019-12-03 19:26] ikonst commented on #734
You have to change:
[code]
to
[code]

Also, unrelated, you should replace:
[code]
with
[code]
The former calls `datetime.utcnow()` immediately when you declare your class, so the default value would be the time when your module was loaded. By passing a function instead (`datetime.utcnow`), you'd be getting the actual current time.

Finally, there's a slight gotcha with Python, in that you cannot c

[2019-12-03 20:22] #734 closed

[2019-12-03 21:34] ikonst commented on #733
Exactly!
[code]

I suppose we could provide more examples in the docs.

[2019-12-03 22:20] erichonkanen commented on #733
:) feel free to add above query

[2019-12-07 00:41] penguindustin opened #735 "Expose Consumed Capacity"
In boto, i'm able to add the `ReturnConsumedCapacity` keyword when querying or putting items. Is there anyway to get this same info in PynamoDB? I see there's a `get_consumed_capacity_map` in `pynamodb/connection/base.py` but doesn't look like it's exposed or documented anywhere.

[2019-12-07 04:15] ikonst commented on #735
IIRC, `Model.save` does return you the consumed capacity.

[2019-12-08 13:49] abhyuditjain commented on #734
@ikonst I tried what you suggested but I get the following error now:

[code]

[2019-12-08 14:16] abhyuditjain commented on #734
@ikonst Also, using `created_at = UnicodeAttribute(null=False, default=lambda: datetime.now(tzinfo=timezone.utc))` gives this error:

[code]

[2019-12-08 19:38] ikonst commented on #734
^ You're right of course :)

[2019-12-08 19:41] ikonst commented on #734
You're trying to use UnicodeAttribue to serialize a `datetime`.

Change:
[code]
to
[code]

[2019-12-10 15:00] penguindustin commented on #735
Oh cool, didn't know `Model.save` returned anything. Is there anyway to get this same behavior with the batch methods like `Model.batch_write()` ?

[2019-12-10 15:38] ikonst commented on #735
Looking at `pynamodb.models.BatchWrite.commit` right now, it doesn't seem to return the consumed capacity. I agree we should support consumed capacity more thoroughly through our API.

[2019-12-11 01:44] penguindustin commented on #735
Looking at boto3's [batch_writer](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Table.batch_writer), they also doesn't look to return back the consumed capacity and is an [open issue](https://github.com/boto/boto3/issues/1278). Unless PynamoDB wants to support non-context manager oriented way, it might not be too much to ask to add into batch get

[2019-12-11 15:15] chubz commented on #725
@ikonst Hi, I'm in a predicament about trying to set schemaless part of my table.
I agree there is a huge benefit to having a schema that is pynamodb enforced. However, considering the dynamodb limitations and that one of it's advantage is being schemaless shouldn't pynamodb leverage that too?

[2019-12-11 22:07] erichonkanen commented on #686
How have you guys progressed in using pynamo for single-table design? I'm working on a new project and after reading lots of aws documentation, blogs, etc, it's clear that they promote 1-app/1-table. It's not clear how to implement this in pynamodb or whether native support will eventually land?

[2019-12-12 19:55] ricky-sb commented on #686
Seems like even AWS's own internal team didn't implement adjacency lists when doing this for AppSync.

[2019-12-12 21:47] erichonkanen commented on #686
@ricky-sb I've had an aws engineer tell me single table makes m2m hard at scale, but publicly they are recommending single table design:
https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-general-nosql-design.html#bp-general-nosql-design-concepts
[code]

[2019-12-12 21:49] erichonkanen commented on #686
@ricky-sb I've had an aws engineer tell me single table makes m2m hard at scale, but publicly they are recommending single table design:
https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-general-nosql-design.html#bp-general-nosql-design-concepts
[code]

[2019-12-18 19:48] sdavids13 commented on #228
Should this be closed? I believe this capability was merged in via: https://github.com/pynamodb/PynamoDB/pull/664

[2019-12-18 20:39] ikonst commented on #228
Thanks, this was indeed merged :)

[2019-12-18 20:39] #228 closed

[2019-12-19 04:03] ikonst commented on #725
@chubz There might be a case for PynamoDB models exposing the underlying table for operations, or perhaps exposing a schema-less "view" of itself. You can always hack something, of course, but I assume you want a more first-class citizen experience for storing schema-less data.

As it stands now, most of PynamoDB development is simply driven by how it's commonly used here at Lyft. Our many teams h

[2019-12-19 17:44] chubz commented on #725
@ikonst thanks for answering.
I understand where your use case comes from, and if something like this isn't supported there will be hacking away for specific use cases.
We ended up dumping data in a file on s3.
My concrete case is that I'm calling a 3rd party api for some data, and then when I get that data I need to write it in the dynamodb. Since the data object itself is bigger than 400kb supor

[2019-12-19 22:13] tedivm commented on #466
Bump- is there any advice for people who want to continue using pynamodb but may occasionally want to add new indexes? What's the best path forward here?

[2019-12-20 17:01] ikonst commented on #725
What I'm curious about is for those attributes that have arbitrary names like "trip_123456", any reason those shouldn't go into a MapAttribute instead of being direct attributes of the DynamoDB item?

[2019-12-20 18:38] chubz commented on #725
there are more than 400kb of those trips. Let's say there are 50 trips and each is an object with subobjects etc. So I can either have 50 attributes, which should be fine.
Or I could try to anticipate that there will be max of 300 trips, and make fixed attributes and then run through each 25ish and store those in fixed attributes that I defined on the model.

In any case, as I'm not able to predic

[2019-12-20 22:40] ikonst commented on #725
No, no, I mean:
[code]

[2019-12-21 03:06] ikonst commented on #466
@tedivm At this point I'd recommend provisioning the indexes through either AWS Console, awscli, Cloudformation, Terraform etc.

[2019-12-30 08:23] erichonkanen commented on #706
@getimti could you paste example?

[2020-01-01 23:01] wmclendon opened #737 "advice on validating attributes before put / batch write?"
hello,

apologies if this is a bit of an elementary question.  i would call myself relative novice to python, and programming in general, but trying to learn and understand more.

i've been teaching myself some Amazon skills and coding alongside, and i'm trying a toy project that involves API Gateway, Lambda, DynamoDB, and onsite client scripts that will post data to the API Gateway, which then ca

[2020-01-04 09:55] timgates42 opened #738 "Fix simple typo: signifantly -> significantly"
There is a small typo in pynamodb/attributes.py.
Should read `significantly` rather than `signifantly`.

[2020-01-04 16:48] #738 closed

[2020-01-06 14:51] nsosamontevideolabs commented on #429
Your hash_key attribute in MyIndex does not exist in the table attributes. That might explain why it doesn't work

[2020-01-06 14:56] wmclendon opened #740 "handling ProvisionedThroughputExceededException examples?"
hello,

i am very new to PynamoDB, and i'm using it with a project i'm experimenting with, and i'm trying to understand the best way to deal with ProvisionedThroughputExceededException events.

In my usecase the data is gathered in batch process (i.e. every 5 minutes) and then anywhere between 10 and potentially even 10k+ items need to get loaded into DynamoDB -- I don't need it to be loaded very

[2020-01-12 09:28] twkiiim opened #742 "TypeError: __init__() got an unexpected keyword argument '_user_instantiated'"
I've been in stuck with using get() returning this error:

TypeError: `__init__()` got an unexpected keyword argument '_user_instantiated'

The entire traceback is like below:

Any one who stuck using get() method? I think this is a critical bug but no one complains about this in the issues so far.

Or is there anything that I'm missing using this library?

Here's the code that I'm using

`order =

[2020-01-14 11:45] MosheVai opened #743 "PAY_PER_REQUEST table creation"
I want to create a PAY_PER_REQUEST table however i failed to find this in the documentation,.

 I would assume it would be in the meta of the class however i dont see it [here ](https://pynamodb.readthedocs.io/en/latest/tutorial.html#model-settings) .

Am I failing to find it? or if not this would be a nice feature to add.

[2020-01-14 15:59] ikonst commented on #743
You have to specify it in the Meta section, e.g.
[code]
We should add this to the docs.

Also, you can use tables that you created yourself with PynamoDB. You don't have to use PynamoDB for provisioning.

[2020-01-14 16:43] MosheVai commented on #743
thank you @ikonst

Is there a way to automapp (similarly to [sqlacodegen](https://pypi.org/project/sqlacodegen/)) current tables or I need to do this manually?

[2020-01-14 17:01] ikonst commented on #742
Please replace:
[code]
with:
[code]

[2020-01-14 17:03] ikonst commented on #743
We don't have any "auto-mapping" functionality. It'll be practically impossible unless we scan your tables and apply heuristics, since DynamoDB table definitions only contain attributes that are used for indices (i.e. except for indices, DynamoDB is schema-less).

[2020-01-15 06:08] twkiiim commented on #742
@ikonst Oh!!! It was totally my bad. It works! Thank you so much 👯‍♂

[2020-01-15 06:09] #742 closed

[2020-01-15 08:05] MosheVai commented on #743
closing, answered my original question.
thanks.

[2020-01-17 03:30] ikonst commented on #740
@garrettheel Do we have any guidance?

Personally I've used the `PeriodicLimiter` from [rush](https://pypi.org/project/rush/) to rate limit my own access to DynamoDB as well as other services.

[code]
and then
[code]

I wish DynamoDB's `ProvisionedThroughputExceededException` would give you enough information to know for how long to backoff, but I don't see anything like that in their docs.

[2020-01-17 03:34] ikonst commented on #429
Thanks @nsosamontevideolabs !

[2020-01-17 03:34] #429 closed

[2020-01-17 04:05] ikonst commented on #737
The kind of validation that PynamoDB attributes perform is light relative to the kind of validation you can (and do) perform with e.g. marshmallow's validators.

For type errors like assigning an `int` to a UnicodeAttribute, type checkers like [mypy](http://mypy-lang.org/) can help. Of course you can also derive `MyUnicodeAttribute` with a `__set__` override that'll perform a type assertion or any

[2020-01-23 21:13] trilliput commented on #422
Hi! I'm going to fix it. I have some ideas and am going to push a PR next week, so feel free to assign me to the issue.

[2020-01-27 13:19] trilliput commented on #422
I've noticed, that `Model._get_schema` returns the schema with pythonic keys, but by using it's always converted to camel case (because DynamoDB API expects camel case). May I change a return value of `Model._get_schema` to camel case?

[2020-02-08 08:12] iteanjd commented on #627
Any update?

[2020-02-10 22:39] ezmuller opened #751 "Query fails with more than 10 attributes in a query filter condition."
Observed with range_key_placeholder == `#1` this substring check failed because the condition included more than 10 placeholders. Since '#1' is a substring of '#10' this expression evaluates to True: `(range_key_placeholder and range_key_placeholder in filter_expression)` in pynamodb.connection.base.Connection.query ->
[code]

[2020-02-13 18:18] homm opened #755 "Doesn't work in second thread at all"
[code]

[code]

This is due `pynamodb.connection.base.Connection.session` is unique for each thread and credentials are [only set for the current thread](https://github.com/pynamodb/PynamoDB/blob/4.3.1/pynamodb/connection/table.py#L39-L42).

[2020-02-14 16:12] laurarp commented on #177
@stevecox i made this overriding the contructor and using the environment variables

public function __construct()
    {
        $this->table = env('DB_PREFIX').'users';
    }

[2020-02-19 03:44] kapilt commented on #755
as a workaround set environment variables which are in effect process global

[2020-02-19 20:22] shahabyounas commented on #55
@jpinner-lyft  How can we manage optional fields, when update condition changes.  Lets say in some cases a user intend to update `details` only and in other case update all the fields
`thread = Thread.get(thread_uuid)
existing_thread_details = thread.details
thread.update(
    actions=[
        Thread.another1.set({"newfield1": "x"})
        Thread.another2.set({"newfield2": "x"})
        Thread.d

[2020-02-25 19:55] abiro commented on #686
I've built a Python library called [Dokklib-DB](https://dokklib.com/libs/db/) for the DynamoDB single table pattern.

[Dokklib-DB](https://dokklib.com/libs/db/) takes a different philosophy from PynamoDB in that follows the DynamoDB API closely, so if you've have used Boto3 before, it will feel familiar.

Features:

- Simple, Pythonic query interface on top of Boto3. No more nested dict literals!

[2020-02-25 20:55] burritoIand commented on #686
@abiro this looks really nice! great work! hm now I want to give it a try... using multi-table atm, def bookmarking, thank you

[2020-02-26 04:38] burritoIand commented on #719
@mfranco1 why did you choose BinaryAttribute? I just ran into this same thing and found an answer that recommends using "S" in the dynamo definition, and then UnicodeAttribute that just sets _some_ value e.g. "true". It doesn't feel as clean as using boolean but dynamo seems to only support Binary/String/Number for the range key attribute type.

https://stackoverflow.com/a/28284261/12901678

I was

[2020-03-10 20:14] peterhchen commented on #548
There is another way without changinh your puython code:
In the ~/.pylintrc, In the [DESIGN] section, change the "min-public-methods=2" to min-public-methods=0" as below:
# Minimum number of public methods for a class (see R0903).
min-public-methods=0

[2020-03-15 21:56] wobeng commented on #677
any update on this fix? @jlafon  @garrettheel

[2020-03-16 06:36] biniow opened #757 "Configuration error in setup.py - "tests.integration" package is installed"
Due to configuration error in setup.py, pip install extra package called "tests.integration" which causes import problems while you have "tests" module in your local project. To confirm that:
[code]
As you can see, there is extra dependency in `.venv/lib/python3.8/site-packages/tests/integration/*`

[2020-03-16 10:08] wobeng commented on #334
@jl-DaDar what was the solution to this?

[2020-03-16 12:12] jl-DaDar commented on #334
don't initialize it during declaration.
initialize it in init or something.

[2020-03-16 12:23] 3dw1np opened #759 "Total count of a query returns dict not int"
With the last version v4.3.1, when I am getting the property total_count of a ResultIterator, I am getting this instead of a int (is it normal ?):

[code]

[2020-03-16 14:25] wobeng opened #760 "what is the correct default for UnicodeSetAttribute? list, dict or set?"
Hi

what is the correct default for UnicodeSetAttribute?

`UnicodeSetAttribute(default=list)`

or

`UnicodeSetAttribute(default=dict)`

or

`UnicodeSetAttribute(default=set)`

?

[2020-03-16 14:27] wobeng opened #761 "error when I use UnicodeSetAttribute"
Sometimes I get the error below when I use UnicodeSetAttribute in the model. Did anyone get this error before?

[code]

[2020-03-18 01:18] twkiiim commented on #204
Any updates for this issue?

[2020-03-18 18:29] jin09 commented on #229
@garrettheel You can leverage the aioboto3 library for the library core instead to achieve this. The world is anyways moving towards the async side of python.

[2020-03-24 20:46] #548 closed

[2020-03-29 15:05] garrettheel commented on #757
Fixed in #758

[2020-03-29 15:05] #757 closed

[2020-04-01 14:01] ikonst commented on #204
@garrettheel, any thoughts on that?

I would rather have an API where models aren't dealing with auth or host. For that we'd need a public API for setting it globally. A context manager which overrides things like that in thread local-storage might be a good idea too. What do you think?

[2020-04-01 18:42] ikonst commented on #761
It seems like you're trying to store something other than a string in the set? e.g. a dict?

[2020-04-01 18:50] wobeng commented on #761
it fixed, it my fault

[2020-04-01 18:50] #761 closed

[2020-04-02 06:39] random1st commented on #525
Hi guys, it will be a really good feature for the project. But I see it was stopped.

[2020-04-02 14:41] garrettheel commented on #204
I'm not sure that I fully understand the use case here, so I'd want to gather a little more information. We intentionally expose as little of the boto/botocore interface as possible so that it's possible to optimize/change this under the hood without breaking users.

Is is that we want to configure a specific `AWS_DEFAULT_PROFILE` in code, rather than as an environment variable? Is there a desire

[2020-04-02 14:49] garrettheel commented on #525
Apologies for not having provided an update here. I'm still interested in finding a way to implement this. I've started working on dropping support for Python 2, which is one step towards making this easier.

The two major concerns that I have to resolve are:
 1. Determine whether aiobotocore is a suitable replacement for botocore and whether any alternatives exist. We use very little of the libra

[2020-04-02 14:56] bedge commented on #204
"Is there a desire to apply different profiles to different model classes/instances?"
- yes, exactly.
See earlier post: https://github.com/pynamodb/PynamoDB/issues/204#issuecomment-289231193

[2020-04-02 15:07] garrettheel commented on #204
Gotcha. We already allow configuring region, host, etc. in `Connection` (and via the `Meta` class on models), would exposing `aws_profile` there be helpful?

[2020-04-02 16:00] alastairmccormack commented on #204
From my point of view, the most flexible approach is to be able to pass a whole Boto session object.

It would also be beneficial to be able to connect tables to multiple DynamoDB instances from **different** accounts. Therefore, it would be great to be able to bind the Boto session and tablename at runtime. Perhaps on the method (E.g. `query`), or perhaps by instantiating the table with something

[2020-04-02 17:44] ikonst commented on #204
PynamoDB models are also effectively "tables", i.e. they deal with the details of how tables and their indices are defined. Perhaps instead of trying to create a new "table" class (do we duplicate the get/query methods to be on this new class? should model subclass table?) it should be encouraged to define new model subclasses in runtime with their own metas?

[2020-04-02 17:46] sunghyun-lee commented on #525
I'm very sorry for not responding of how this going on.

Let me explain what I've done so far.
I have implemented [InPynamoDB](https://github.com/sunghyun-lee/InPynamoDB/tree/4.1.0) with compatible to PynamoDB version 4.1.0. I'm using this library on production environment, and I don't have seen any critical bug or issue while using it.

If @garrettheel wants to attach some async methods using asy

[2020-04-04 00:12] dotorg-richard commented on #418
So it's 2yrs and 3 months and no reply for you. I thought this project looked good but I'm having issues with update too and no serious doubts about using it. Any news/suggestions?

[2020-04-04 04:45] ikonst commented on #418
@dotorg-richard it's basically something like:
[code]

Let us know how we can improve the docs, preferably through a pull request.

[2020-04-06 09:18] Swington commented on #152
Because my models had many nested attributes (e.g. my model had a list of map, which contained a map) none of the solutions described above seemed to work.

I was able to compose a solution using `dynamodb-json` module, though:
[code]
The only inconvenience here is that Keys are kept separately from attributes, you have to compose a common dict from all of those. As an instance method, of a class

[2020-04-07 23:11] hassan-bazzi commented on #152
If you have a custom MapAttribute you can use .as_dict() i.e.

`YourModel(user_id).application.as_dict()`

Where `application` is a custom attribute that extends MapAttribute.

The only issue with that was that any ListAttributes embedded in another MapAttribute inside of our `application` MapAttribute don't jsonify properly. I made a custom BaseMapAttribute class and used the solution here:

http

[2020-04-09 13:06] britishbadger commented on #627
I've seen the same issue, whilst looking at the code in attributes.py, I changed it as follows and my tests seems to be working, can anyone else comment on whether it looks to be more correct ?

`class NumberAttribute(Attribute):
    """
    A number attribute
    """
    attr_type = NUMBER

    def serialize(self, value):
        """
        Encode numbers as JSON
        """
        return json.

[2020-04-09 14:36] britishbadger commented on #627
For anyone looking at my previous comment,  I was trying to wrap a piece of code using boto with a test so that I could replace it with Pynamodb but using Pynamo to do the setup of the initial test item.

Removing the code above and setting the attribute to explicitly state null seemed to work (using moto).

E.G
item.my_number_attribute = "null"

Not sure I saw this behaviour using dynamo local.

[2020-04-10 14:36] Luis-Palacios commented on #287
In my scenario I might need to write do different regions on runtime depending on user input, can anybody share what would be the best approach for this?

[2020-04-10 20:02] sunghyun-lee commented on #525
For all those who want to use PynamoDB asynchronous version, I have just uploaded [InPynamoDB](https://github.com/sunghyun-lee/InPynamoDB) on the PyPI finally, so you can install it by typing `pip install inpynamodb`.

The deployment process is not well implemented, but it is still made available for you to use easily.

From now on, I am gonna look for chance to contribute on PynamoDB repository i

[2020-04-13 03:00] dan-kez commented on #554
If anyone comes looking here is a custom attribute that will allow you to interface with an attribute as though it is a boolean in python but store it as a number.

[code]

Associated tests
[code]

[2020-04-13 11:24] jin09 commented on #562
Facing same issue with batch write API

[2020-04-13 19:36] Luis-Palacios commented on #287
I ended doing something like this:

[code]

It get the job done

[2020-04-18 00:10] karteek-paruchuri commented on #122
Why `ListAttribute` isn't of Unicode format?

[2020-04-21 02:30] Luis-Palacios opened #768 "Is there support for Amazon DynamoDB Encryption Client for Python?"
Hello and thank you for this amazing library.

I'm currently using PynamoDb and it's has been a great improvement over using boto3 directly, however, we have realized we need to start doing client-side encryption now.

I have been reading trough [Amazon DynamoDB Encryption Client](https://docs.aws.amazon.com/dynamodb-encryption-client/latest/devguide/what-is-ddb-encrypt.html) and it seems to work

[2020-04-22 21:30] Luis-Palacios commented on #768
That amazon encryption client feel like an overkill for my scenario. So I ended up creating a Custom Attribute where I encrypt and decrypt when serializing and deserializing with a simple symmetric encryption algorithm.

[2020-05-05 01:21] dotorg-richard commented on #526
I just discovered this today myself too. It's obvious that this was implemented without any understanding of how indexes are supposed to shared across item types. You can't even extend a base index class you have to duplicate the class everywhere you want it. For a larger app with potentially dozens and models and up to 20 indexes per dynamo table thats a lot of duplicated code.

[2020-05-08 06:44] johnmee opened #777 "Deprecation warning: importing the ABCs from 'collections'"
pynamodb==4.3.2

[code]

[2020-05-09 19:09] tschroeder-zendesk opened #778 "How do you create a global table replicated region?"
Since you can only define one region I'm confused how to get a global table replication set up. I was able to create the table with streams enabled I am just not sure how to add other regions. Is this a missing feature?

[2020-05-10 00:04] Buuntu opened #779 ""Could not get endpoint url" error when running locally through Docker"
I'm having trouble running dynamodb locally, with the following docker container [aws/dynamodb-local](https://hub.docker.com/r/amazon/dynamodb-local/).

When I set the host parameter to http://localhost:8000, I get the following error when trying to do a scan:
[code]

My model:
[code]

I know the pynamodb connection is working because I can go to `http://localhost:8000/shell` and use boto3 to list

[2020-05-10 01:08] Buuntu commented on #779
Do you have to set `aws_secret_access_key` and `aws_access_key_id` properties in the `Meta` class as well, when `host` is provided?  The docs are unclear to me whether this is the issue.  I've tried with both of those set in the environment and unset and it's the same thing, where does PynamoDB find these by default?  In your env or in ~/.aws?

I'd rather not have to set those for every table if p

[2020-05-10 19:37] ikonst commented on #779
PynamoDB uses boto to connect, and it inherits its behavior, so it would use the environment variables, etc. You do not have to specify the keys in the Meta class.

[2020-05-12 18:32] hoIIer opened #780 "Add "first_evaluated_key" for easier reverse pagination."
Would it be possible or make sense to add another property called "first_evaluated_key"?

A common pattern with pagination is to provide both "next" and "previous" buttons in a user interface which paginates either forwards or backwards through a result set. The current implementation with last_evaluated_key works great for getting the "next" set of results as the resume point is automatically set

[2020-05-13 12:51] alcy opened #781 "Setting Meta class variables"
Hi, thanks for writing PynamoDB.

While using the library, I realized that the "table_name", "region" and "host" properties of the Model Meta class could benefit from being configurable, but I haven't found a useful/complete way of doing it. Any suggestions?

[2020-05-14 20:21] atyshka commented on #204
+1 on this, want to use dynamic credentials via IAM roles assigned to cognito users. Without this feature I'm going to have to use the regular boto3 api

[2020-05-15 10:01] artsiom-tsaryonau opened #783 "TypeError: 'NoneType' object is not iterable"
I am using `pynamodb 4.3.2` I have the model that looks like this

    class ServiceStateEnum:
        IN_PROGRESS = 'in progress'
        SUCCEEDED = 'succeeded'
        FAILED = 'failed'

    class ServiceOperationEnum:
        PROVISION = "provision"  # create
        DEPROVISION = "deprovision"

    class CloudFoundryEntityAttribute(MapAttribute):
        entity_id = UnicodeAttribute()

[2020-05-15 14:04] #777 closed

[2020-05-15 14:09] ikonst commented on #783
Hm, I don't see anything immediately wrong.

[2020-05-15 14:32] artsiom-tsaryonau commented on #783
@ikonst should I always instantiate attributes by class constructor? can I do it as a basic map?

[2020-05-15 18:01] ikonst commented on #783
Maybe the fact you delete and re-create tables has something to do with it. The code currently relies on being able to do DescribeTable to get the schema, and perhaps that's not immediately available (though it'll be strange for us not to surface an error in DescribeTable if we get one).

I didn't trace through the code to see if it could cause the issue you're seeing.

What kind of application do

[2020-05-15 18:01] ikonst commented on #783
I believe that's the supported way.

[2020-05-15 20:37] artsiom-tsaryonau commented on #783
@ikonst service broker

The thing is that in my workflow - as the service broker is being developed - I often stop the app using CTRL+C and run immediately. So probably on the normal runs, it will work fine as for example I sometimes get errors that it fails to delete table etc.

As I get the issue from time to time I thought that maybe some data is being corrupted as currently, I do know enough a

[2020-05-15 20:40] ikonst commented on #783
What I'm suspecting is that your deleting and creating the table is happening in parallel with your broker already serving requests. You must of course wait for the new table to be created before giving your broker any opportunity to serve requests.

[2020-05-15 21:20] artsiom-tsaryonau commented on #783
I added `sleep` in after table delete and creation and haven't run into `NoneType` attribute issue as of yet.
Thanks!

[2020-05-21 05:28] Luis-Palacios opened #787 "Stubs for indexes range_key_condition: Argument 2 to query of Index has incompatible type bool expected Condition [arg-type]"
Hello,

I'm using vscode and mypy and when I try to use query from a Index or Model I get an error from mypy

[code]
The message is
[code]

And it makes sense since this would return `UserModel.tenant_id == 'tenantid'` a bool value not a Condition instance which is what the stubs define

[code]

If it helps this is my Index and Model Definition

[code]

Am I passing the range condition in the wron

[2020-05-21 13:43] Luis-Palacios commented on #787
I can clear the error if I update the stubs

FROM:
[code]

[code]

So that it would take A Condition or a Bool but I'm not sure if this is a good fix since I'm still a noob with typings on python

[2020-05-21 14:25] Luis-Palacios commented on #787
Anyways I ended up creating #788 hopefully is the right approach or at least might serve as starting point

[2020-05-21 17:58] ikonst commented on #787
Which version of mypy are you using? Are you running mypy within the same environment that has pynamodb installed, or is it falling back on the outdated pynamodb stubs in the typeshed? (We should really get those removed.)

I've tried:
[code]
then:
[code]

[2020-05-21 19:27] Luis-Palacios commented on #787
Yes I'm running mypy within the same enviroment that has pynamoddb installed.

I don't know how to check if it's falling back to the stubs in the typeshed  if you could point me on how to check that I would

[2020-05-21 19:33] Luis-Palacios commented on #787
I'm using mypy==0.770 and pynamodb==4.3.2

[2020-05-21 19:36] ikonst commented on #787
[code]

[2020-05-21 19:55] Luis-Palacios commented on #787
So it seems it's on me it's because of my method signture since I have my pynamodb model as an optional argument in my function

This should raise the error I'm seeing

[code]

If you remove the `= None` part the error goes away. I'm suppose that's on my side not on pynamodb or mypy

Thank you @ikonst you were a lot of help, I'm closing this issue

[2020-05-21 19:55] #787 closed

[2020-05-22 00:33] xanguera opened #790 "What s the role of read_capacity_units when reading from an existing table?"
Hi,
I have an existing table I created manually. Using pynamoDB I want to read from this table and so I create a model and add the read_capacity_units.
I have not seen it written anywhere, but it looks like the value I define here matters a lot on the throughout I get.
I would like to confirm whether pynamodb constraints the reads/writes to the capacity defined in these variables, even though the

[2020-05-22 04:27] ikonst commented on #790
Those capacities only affect creating new tables and indices. Annoyingly enough PynamoDB makes you have them even if you create your tables some other way, but you can keep it at e.g. `read/write_capacity_units = 1` without any ill effect.

[2020-05-22 04:28] #790 closed

[2020-05-23 19:02] #783 closed

[2020-05-27 10:33] #760 closed

[2020-05-27 10:34] wobeng commented on #677
can this be added to the next update?

[2020-05-27 13:26] garrettheel commented on #677
@wobeng would you be able to submit a PR with the change that worked for you? That's the quickest way to get this in as a fix

[2020-05-28 22:39] artsiom-tsaryonau opened #791 "delete item from MapAttribute filed"
I have a model that has that type of attribute

    bindings = MapAttribute(of=BindingAttribute, default={})

Where `BindingAttribute` looks like this

[code]

`binding` itself looks like this

[code]

So it is expected to contain pairs `{binding_id: app_guid}`.
How to delete some records by `binding_id`?

In the database itself the field looks like this

[code]

[2020-05-28 22:46] spcogg commented on #211
Another bump, it's 2020 and it's still an issue for anyone that doesn't live in the us-east-1 region!

[2020-06-03 07:02] bhayani commented on #564
Were you ever able to figure this out? I'm running into the same issue :/

[2020-06-03 07:26] grvhi commented on #564
@bhayani - not that I remember I’m afraid. IIRC, I ended up not using a secondary index anyway, but the issue remained.

[2020-06-03 16:11] ikonst commented on #564
When you don't provide a `filter_condition`, there's code that gracefully assumes you provided a filter condition in place of a range key condition, and treats your range key condition  as a filter condition.

However, if you provide both, then your range key condition must be a proper range key condition.

In the code above:
[code]
it's hard to tell just from this code what's wrong, but for start

[2020-06-05 20:38] BrnoPCmaniak opened #793 "Make Index _get_attributes public"
In PR #452 the method `_get_attributes` on `Model` has been made public to allow dynamic introspection and the old `_get_attributes` is now marked as Deprecated. Most methods on `Index` shares signatures of it's `Model` counterparts. Because of this I believe that to have consistency the method on `Index` should also be made public.

[2020-06-09 20:12] ikonst opened #794 "Condition and Action should be equatable"
`Condition` and `Action` should have an `__eq__` to make it possible to write test assertions.

[2020-06-10 13:02] yelizariev opened #796 "ref in docs is not converted to link"
https://pynamodb.readthedocs.io/en/latest/transaction.html

``(see conditional)`` is a plain text, while it's supposed to be a link

I tried to compile docs locally and it shows links

![screenshot--2020 06 10-18_01_26](https://user-images.githubusercontent.com/186131/84270663-76f33e80-ab44-11ea-94db-f264f073e0a1.png)

[2020-06-10 13:11] yelizariev opened #797 "readthedocs: some menus are missed"
the docs missed few pages in menu:

* https://pynamodb.readthedocs.io/en/latest/optimistic_locking.html
* https://pynamodb.readthedocs.io/en/latest/rate_limited_operations.html

Locally compiled docs works fine:

![screenshot--2020 06 10-18_08_41](https://user-images.githubusercontent.com/186131/84271434-88891600-ab45-11ea-960d-f74591e89eb2.png)

[2020-06-11 14:03] ikonst commented on #796
Thanks for the report @yelizariev. Will take me some digging since I don't have experience with readthedocs (nor much experience with Sphinx -- just recently set up Sphinx in CI in #771).

[2020-06-11 15:02] ikonst commented on #796
Rebuilding in readthedocs seems to have helped. I'm still mystified about how it works since now 'latest' is basically master rather than latest released version.

[2020-06-11 17:04] marcelloromani commented on #270
@joarleymoraes thanks so much for the code example

@song-william I also don't have any 'host' assignment in the Model classes under test, which means `boto3` will build a "real" dynamodb endpoint. In fact, if you initialise the model with an invalid region you get an error.
Despite that, no actual connection to AWS is made. (I guess `moto` mocks the http level).

[2020-06-11 23:41] #781 closed

[2020-06-12 05:23] yelizariev commented on #796
Having "master branch" in "latest version" is expected behaviour.
Latest release is in "stable branch"

Here is the docs: https://docs.readthedocs.io/en/stable/versions.html

[2020-06-12 05:29] yelizariev commented on #796
As for rebuilding the docs, you can check "Builds" tab -- it has all the logs.

https://readthedocs.org/projects/pynamodb/builds/

-- before you rebuilt it manually, the latest build was from January.

From my experience with readthedocs, intergration with github doesn't work as smoothly as it should be. Try to check intergration settings: https://readthedocs.org/dashboard/pynamodb/integrations/

[2020-06-12 05:31] yelizariev commented on #797
Fixed now. See discussion in #796

[2020-06-12 05:31] #797 closed

[2020-06-15 15:30] rokpu-wish commented on #569
I'm experiencing the same thing when the host is specified.

[2020-06-15 15:58] garrettheel commented on #569
For issues with the host, I believe this is due to the way in which moto is matching when used with pynamodb. There is probably a better solution (maybe worth a separate issue), but one fix is:

[code]

If you're using pytest, this can be done in a a fixture that runs once for the test session

[2020-06-15 23:14] rokpu-wish commented on #569
Thanks! I bypassed it all together but will be sure to add this to my fixture

[2020-06-21 21:00] kamadorueda opened #802 "Async python support: aiopynamodb"
https://github.com/aio-libs/aiobotocore
https://github.com/terrycain/aioboto3

[2020-06-29 03:27] nekonoshiri opened #804 "Empty String/Binary values support?"
DynamoDB recently supported empty values for _non-key_ String/Binary attributes.

Though PynamoDB currently supports empty value as null (None),
does PynamoDB have any plans to support this new feature of DynamoDB?

[2020-06-29 16:14] Tristanbox09 opened #805 "TypeError: __init__() got an unexpected keyword argument 'instance_id'"
Hello, I am getting this error and I do not know why:
` File "C:\Users\Owner\Desktop\Ubotica\cloud_detect\venv\lib\site-packages\sentinelhub\ogc.py", line 369, in __init__
     super().__init__(**kwargs)
 TypeError: __init__() got an unexpected keyword argument 'instance_id'`

Does anyone know how to fix this error or what the issue is? My code is below! Thank you!

`class WebFeatureService(OgcSer

[2020-06-29 16:52] ikonst commented on #805
This doesn't seem to involve PynamoDB.

[2020-06-29 16:52] #805 closed

[2020-07-01 14:11] #434 closed

[2020-07-02 20:06] navels opened #808 "Handling intermittent TransactionInProgressException"
Our application will occasionally encounter this exception when committing a transaction.  For example:

`Failed to write transaction items An error occurred (TransactionInProgressException) on request (F5HO7TOH9T3P4TA258Q3OVVASFVV4KQNSO5AEMVJF66Q9ASUAAJG) on table (None) when calling the TransactWriteItems operation`

Note: we are not supplying the transaction with any kind of request token.

It'

[2020-07-04 15:54] ikonst commented on #808
From [boto3 docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Client.transact_write_items):

At the same time, [boto3 docs on retries](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/retries.html#standard-retry-mode) also say `TransactionInProgressException` is one of the exception types that'd be automatically retried.

Maybe it

[2020-07-04 18:34] hallie commented on #808
boto3 supplies their own client request token for a transaction if its missing (the `(F5HO7TOH9T3P4TA258Q3OVVASFVV4KQNSO5AEMVJF66Q9ASUAAJG)` value included in your error log). Still unsure if that's a good call on their part, given that they also automatically retry on those failures

I would suggest trying to pass in your own value for that and see what happens

[2020-07-04 18:39] navels commented on #808
Thanks, I was leaning towards trying that next.  Will report back!

[2020-07-05 03:15] ikonst commented on #808
I think it's a sensible decision on their part, since they do assign it before their retry logic so that makes their retries idempotent and that's better than not doing it.

[2020-07-05 03:16] ikonst commented on #808
(I know it's not our responsibility but maybe we should note in our docs that the client request token is autopopulated by boto3.)

[2020-07-05 15:23] patrickwerz opened #809 "Question to TransactWrite"
Hi guys,
I try to create 2 new items in different tables. The process should fail if one item can't be created. I tried the following code

The first *.save(*) method was ok, the second one throwed a TransactWriteError Exception.

`'An error occurred (ResourceNotFoundException) on request (27D2HSHEKVJ6BGV6CCK5N4US6NVV4KQNSO5AEMVJF66Q9ASUAAJG) on table (None) when calling the TransactWriteItems ope

[2020-07-06 03:18] ikonst commented on #809
Are you creating the tables shortly before performing the transaction, e.g. as part of some test boostrap?

[2020-07-06 06:15] patrickwerz commented on #809
The tables have been created via serverless. The model that fails has also an gsi - if that matters in any case.

[2020-07-06 07:59] patrickwerz commented on #809
I found the error:
I need to provide the correct region in the connection class

[2020-07-06 07:59] #809 closed

[2020-07-10 09:31] Visya opened #810 "Set attribute value only on first object creation"
Hi!

**TL;DR**
I'm wondering if there is a way to know in `__init__` if the object is newly created in the table or if an existing object is retrieved from the DynamoDB.
Or is there a way to update an attribute only for newly created objects?

---

I have an abstract class `AbstractPost` that has several children `ApprovedPost`, `RejectedPost`, `InboxPost`. Whenever a post is created in a collecti

[2020-07-10 14:17] ikonst commented on #810
We've actually been passing an undocumented argument `_user_instantiated` to `__init__` for this same purpose:
https://github.com/pynamodb/PynamoDB/blob/8d58d2e20245a7d0f3d2fb57c9b9760c40ac77c4/pynamodb/attributes.py#L254

You can use it as long as you don't mind using an undocumented feature that might change later:
[code]
or:
[code]
or even:
[code]

[2020-07-11 18:09] theFong commented on #466
Here is a script I use to create global secondary indexes after tables are created that leverage pynamo definitions. Note that my tables are `PAY_PER_REQUEST`/On-demand so I do not specify `ProvisionedThroughput` in the `GlobalSecondaryIndexUpdates` object. This has only been tested with indices having the projection `AllProjection()`/`ALL`.

Plenty to improve! Would love to see how others do this

[2020-07-13 03:53] ikonst commented on #466
Thanks @theFong. Generally speaking I agree it would be nice to add `Model.update_table` as this seems to be a common ask.

[2020-07-14 12:04] jnoortheen opened #812 "How to query only with the KeyConditionExpression"
I am trying to query with the hash_key value. If I pass a condition expression of the hash_key it returns the error below

![image](https://user-images.githubusercontent.com/6702219/87423469-fcf91e00-c5f7-11ea-893f-48d57fd43ccf.png)

is it possible to query like this ?

![image](https://user-images.githubusercontent.com/6702219/87423522-14d0a200-c5f8-11ea-9df5-2e637118c4f4.png)

I don't find any i

[2020-07-14 12:49] jnoortheen commented on #812
seems like other conditional operators are not supported on hash_key.

[2020-07-14 12:50] #812 closed

[2020-07-14 15:13] ikonst commented on #812
Yeah,  the first argument to `query` is a hash key, not a condition, DynamoDB doesn't support conditional operators on hash keys since a hash key is a way to pick a DynamoDB shard: if you could do conditions on them, then you'd effectively have to "scan" across all your shards, negating the performance benefits of DynamoDB.

You can create a GSI if you need to do conditional queries over hash keys

[2020-07-14 15:20] jnoortheen commented on #812
Yes now I have understood. It is actually a global secondary index that I am querying.

[2020-07-14 16:50] marzigolbaz opened #813 "How to update an attribute in a ListAttribute of MapAttribute?"
I am learning how to use PynamoDB to work with AWS DynamoDB in my Python code. Here is what I have defined so far:

[code]

Here is how I appended to the list of map attributes (`employees`):

[code]

And here is what I am seeing in the newly created DynamoDB table OfficeModel:

![image](https://user-images.githubusercontent.com/10997397/87453538-7886ab00-c5b7-11ea-993b-4aebc8f003e3.png)

Now I ne

[2020-07-14 17:11] marzigolbaz commented on #813
@ikonst can you please help? this is blocking me.

[2020-07-14 17:15] ikonst commented on #813
@yelizariev You've been looking at this recently. Would have some time to advice?

[2020-07-14 18:26] marzigolbaz commented on #813
Tried this code:

[code]
It did raise this error:

[code]

[2020-07-14 18:31] marzigolbaz commented on #813
Tried this code:

[code]
But, I got this error:

[code]
Any reason why I can't access index `0` of the list attribute?

@ikonst @yelizariev

[2020-07-14 18:38] ikonst commented on #813
Following @yelizariev 's example, the code in your first question should be rewritten as:
[code]

As for the second question, I think you need to use a "getitem" operator, i.e.
[code]

[2020-07-14 18:43] marzigolbaz commented on #813
@ikonst Thanks for your response, getting this error:

[code]

[2020-07-14 18:47] marzigolbaz commented on #813
@ikonst also tried these, and am getting these errors:

[code]

[2020-07-14 18:54] ikonst commented on #813
Ohh, you were totally right about `Office.employees|[]` :)

[2020-07-14 19:11] ikonst commented on #813
I've looked at the code and tbh I'm not sure how it should work, in particular with regard to this line:
https://github.com/pynamodb/PynamoDB/blob/8d58d2e20245a7d0f3d2fb57c9b9760c40ac77c4/pynamodb/expressions/operand.py#L297

It looks like even if you'd pass `{'SS': '333'}` it'd just result in a key error.

Perhaps try:

[code]

If this works, then it's definitely not how it's _supposed_ to work a

[2020-07-14 19:13] marzigolbaz commented on #813
@ikonst It doesn't work :(. See:

[code]

[2020-07-14 19:28] ikonst commented on #813
How about:
[code]
?

[2020-07-14 19:39] jpinner-lyft commented on #813
`AddAction(Office.employees[0]['office_employee_direct_ids'], Value({'SS': ['333']}))`

[2020-07-14 19:40] jpinner-lyft commented on #813
There is both a bug in the `add` method and the usability of ListAttributes could be improved.

[2020-07-14 20:01] marzigolbaz commented on #813
@ikonst it does not raise and error, but seems like it does not have an impact on the data:

[code]

See:
![image](https://user-images.githubusercontent.com/10997397/87470759-17b89c00-c5d2-11ea-8fa7-cc4a7a4f2703.png)

[2020-07-14 20:25] jpinner-lyft commented on #813
@marzigolbaz can you try again but this time put the value in a list: `{'SS': ['333']}`

[2020-07-14 20:41] marzigolbaz commented on #813
@jpinner-lyft same result:

[code]
![image](https://user-images.githubusercontent.com/10997397/87474319-c1e6f280-c5d7-11ea-98bb-d733602727a2.png)

[2020-07-15 08:38] yelizariev commented on #813
I don't know how to do it now, as I used [plain structures](https://github.com/itpp-labs/chatops-docs/blob/321d28b4c1a25cf27bcd1d146ad857806787d0db/opinions-bot/lambda_function.py#L340-L342) only. But it would be nice to support ``of=`` arg for MapAttribute:

Like this
[code]

or this

[code]

[2020-07-16 15:49] Visya commented on #810
Thank you!

In the end I did something like this, because it wouldn't let me destructure `_user_instantiated` directly in the constructor agruments.
[code]

[2020-07-16 15:49] #810 closed

[2020-07-25 17:58] garrettheel commented on #802
The discussion here is relevant: https://github.com/pynamodb/PynamoDB/issues/525#issuecomment-607892448

I'd like to support asyncio natively in the library, but I'm still a little hesitant to adopt aiobotocore right as it's not maintained by AWS. We don't rely on all that much of botocore right now, so one option would be to drop that altogether and provide a separate async interface

[2020-08-11 13:00] jl-DaDar opened #816 "Transaction write failed with Table None"
Some how we are getting an error when trying to save 2 item in a transaction. If done outside of transaction using regular save, everything works just fine. But when we switch to transaction like the code below.

[code]

[code]

which ever is the 2nd transaction.save would failed with AccessDeniedException because table name somehow turned into None.

`An error occurred (AccessDeniedException) on

[2020-08-12 03:50] jl-DaDar commented on #816
ok we have found the problem,
transaction failed because region was not specified in the connection. But this was never mentioned in the documentation.

also the table becoming None is still a bug

[2020-08-12 16:31] internetofjames commented on #597
@jpinner-lyft perhaps the documentation has changed since you commented, but I am confused. I believe I am running into a similar problem as @nshgraph . I am trying to save an item to a table that has a map attribute. Within the map there is a string attribute that has an empty string as a value. When trying to save, PynamoDB replies with a PutError:
`An error occurred (ValidationException) on req

[2020-08-12 16:43] jpinner-lyft commented on #597
@internetofjames dynamodb introduced support for empty non-key string and binary values in May 2020
https://aws.amazon.com/about-aws/whats-new/2020/05/amazon-dynamodb-now-supports-empty-values-for-non-key-string-and-binary-attributes-in-dynamodb-tables

[2020-08-12 16:44] jpinner-lyft commented on #597
@garrettheel now that dynamo supports this, should we reopen this issue as a feature request?

[2020-08-12 16:52] garrettheel commented on #597
@jpinner-lyft yep, re-opened

[2020-08-12 20:09] asdrubalsantander commented on #444
I find this way:
[code]

[2020-08-13 18:30] erictwalker18 commented on #686
We're working on a fork(ish) of PynamoDB that's built for single table design. Same interface, but works with multiple models on a single table: https://github.com/3mcloud/falcano

[2020-08-18 21:55] iwsmith commented on #127
One easy (though probably dangerous) fix is to use a custom attribute to encode these values just as bytes:
[code]

I think I am relying on botocore to base64 encode bytes, which could blow up if that behavior changes, but works for me for now.

[2020-08-18 22:10] garrettheel commented on #127
Whoops, sorry for missing this one. I'm a little wary of changing this in such a way that it would blow up without folks doing a data migration. My preference would be to allow folks to opt-in to the fix and mark the existing behavior as legacy (possibly with a deprecation warning).

We could possibly take an argument on attribute instantiation to control this, or create an entirely new attribute.

[2020-08-19 17:54] iwsmith commented on #127
What about creating a `BinaryAttributeV2`, leaving `BinaryAttribute` alone so existing users don't get broken by an upgrade, but mark it as deprecated and update the documentation to point people at `BinaryAttributeV2`?

[2020-08-20 10:38] Yaronn44 commented on #681
I think this is still a problem.
With the actual code it's impossible to limit the number of results returned and not limiting the items to evaluate at the same time.

In most of my cases, I want between 1 and 100 items returned, but I'd like to take advantage of the maximum limit of 1MB of evaluated items :

Beside that, I don't really understand why we don't take advantage of this 1MB evaluated

[2020-08-20 13:50] ikonst commented on #681
@kennovation1 Would `page_size` be what you actually want here?

@Yaronn44 What you probably want is `page_size=100` and to not to specify any `limit`. This way since you're only ever interested in the first 100 items, PynamoDB would not fetch more items than you're going to process. Then limit your own iteration, e.g. by doing:
[code]
Unfortunately passing `limit` to `Model.query` won't do what y

[2020-08-20 14:52] Yaronn44 commented on #681
The specific case @kennovation1 provided :

is exactly the type of problems I encounter in my system.
In some of my queries (with multiples filters), I want only one object to be returned, but due to the sorting order, this object will be at the end of the "list".
With the
https://github.com/pynamodb/PynamoDB/blob/00a9b1a203ffaa097498cc51597dc4d53dc82cd5/pynamodb/models.py#L652-L653
the page_size

[2020-08-20 15:22] ikonst commented on #681
In on-demand mode, you still pay per request, so capping how many "requests" you'd spend on a query might make sense in some cases.

[2020-08-20 15:27] ikonst commented on #681
This is interesting. Theoretically `limit=1` should've caused the response to be returned very quickly and possibly give a false impression that there are no matching items. Instead, the response comes back in 25 seconds, likely after spending many RCUs.

This leads me to believe that the `limit` applies on the specific iteration rather than on the entire result-set. In that case, `limit` is almos

[2020-08-20 15:50] Yaronn44 commented on #681
It's really not an easy problem. Beside having efficient queries, you must, as you said, considered the read capacity of the tables...

Even in on-demand mode, you may pay way more than you should.
From the [doc](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughput.html#ProvisionedThroughput.CapacityUnits.Read):

Easy example with query and filters:
- Average item

[2020-08-20 17:53] dwatkinsweb commented on #802
Any idea when this might happen? We could really use this feature right now. I've been attempting to do this myself but I've been having to duplicate a lot of your code for a few small changes.

[2020-08-25 22:02] garrettheel commented on #627
To help me understand the issue here, are these items (containing `{"NULL": true}` attributes) written via some other client than pynamodb? pynamodb omits storing attributes altogether when the value is null, which is why this usually works fine.

[2020-08-30 01:34] alivcor opened #820 "Documentation severely lacks READ operation examples"
Have been trying to use this library, and I am surprised to find so much documentation on Update/Delete/Insert but None to Zero documentation on READING from the database. Does it even support reading?

**Moreover the only example on the README further confuses the reader:**

  Now, search your table for all users with a last name of 'Denver' and whose
    first name begins with 'J':

    for user

[2020-09-01 07:05] rajnaveen25 opened #821 "Transaction write operation results in 'InvalidSignatureException'"
When attempting to use transactional writes as explained [here](https://pynamodb.readthedocs.io/en/latest/transaction.html), for writing to dynamo DB table, the transaction resulted in 'InvalidSignatureException'. Only 2 updates were part of the transaction. There was no throttling on the dynamo db side and there was sufficient write capacity as well.

[2020-09-01 16:49] vedmant opened #822 "Can't query by date: 'Comparison' object has no attribute 'tzinfo'"
Hi, I'm trying to get all items that were created for last 24 hours, here is my models and query

[code]

And I have following error:
[code]

[2020-09-01 19:48] ikonst commented on #822
@vedmant The first argument to the `Index.query` method is a hash key value, not a condition. Furthermore, DynamoDB doesn't allow hash key conditions. The reason is that a hash key is the shard key so there's no efficient way to do what you're doing, i.e. what you're trying to do is as efficient as scanning.

Try creating a GSI where createdDate is a range key and use a range key condition.

[2020-09-02 07:11] vedmant commented on #822
@ikonst Thanks for explanation, but I need to select all comments that created in last 24 hours, there is no other key I can use for hash key as I need to just select all records. Then there is no way to do this, unless I create another field with the same value for whole table and use it as hash key plus date as a range key?

[2020-09-02 10:02] ikonst commented on #822
Pretty much. You can't shard that operation so you'll be effectively querying a single shard.

At this point it's worth asking the higher level question: what you're building? If it's really "I need a web site where a human can see the exact latest ten comments at any given time" then yes, that's what you'd do.

Will this result in a "hot shard"? Think of it this way, by the time your number of co

[2020-09-02 10:02] ikonst commented on #822
Pretty much. You can't shard that operation so you'll be effectively querying a single shard.

At this point it's worth asking the higher level question: what you're building? If it's really "I need a web site where a human can see the exact latest ten comments at any given time" then yes, that's what you'd do.

Will this result in a "hot shard"? Think of it this way, by the time your number of co

[2020-09-02 10:07] vedmant commented on #822
@ikonst Thanks, that's very helpful. Closing this issue then.

[2020-09-02 10:07] #822 closed

[2020-09-02 11:04] Wurstnase commented on #557
For people which will find this issue. I think/guess it is a "Read Consistency" issue.
Please check https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadConsistency.html

[2020-09-03 09:37] jin09 opened #824 "UTCDateTimeAttribute can't be set to null"
Any attribute is allowed to be set to NULL however setting `UTCDateTimeAttribute` breaks during `deserialize`

**Model:**

[code]

If I set `datetime_ref` in any row to NULL and then If I try to get that row from dynamo using PynamoDB API then I get the following error:

[code]

[2020-09-03 13:23] ikonst commented on #824
How are you doing that? What do you mean by "NULL"? "NULL" DynamoDB data type?

[2020-09-05 04:21] kamadorueda commented on #802
There is another approach that is used by many libraries out there (keep reading for examples):

When a library exposes a high-latency function, for instance:

[code]

One can wrap the calls in a sub-thread via [loop.run_in_executor](https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.loop.run_in_executor).

Since that's is a little verbose there are nice libraries to make it human-fr

[2020-09-05 20:58] jpinner-lyft commented on #804
addressed in https://github.com/pynamodb/PynamoDB/pull/830

[2020-09-06 00:15] #804 closed

[2020-09-07 00:22] nekonoshiri commented on #804
Thank you!

[2020-09-07 18:58] abe-winter opened #832 "automatic terraform generation"
I'm using terraform to manage my dynamo tables, and generating the terraform automatically from pynamodb models.

Should I submit a PR merging the terraform generation? Or is this outside the scope of pynamodb.

[2020-09-07 19:44] jpinner-lyft commented on #261
addressed in https://github.com/pynamodb/PynamoDB/pull/833

[2020-09-07 19:46] jpinner-lyft commented on #597
addressed in https://github.com/pynamodb/PynamoDB/pull/830

[2020-09-07 19:46] #597 closed

[2020-09-08 14:27] ikonst commented on #832
IMHO this could very well be a small project that builds on top of PynamoDB rather than something integrated into PynamoDB.

[2020-09-08 14:31] abe-winter commented on #832
yup, makes sense

[2020-09-08 14:31] #832 closed

[2020-09-08 19:12] #261 closed

[2020-09-10 20:13] Karthikrao121 opened #840 "query with hashkey and filter condition is not returning PickleAttribute"
[code]

[2020-09-11 01:18] ikonst commented on #840
I just tried this:
[code]
and it printed
[code]

[2020-09-11 01:18] ikonst commented on #840
Any more details about your query?

[2020-09-11 15:24] jin09 commented on #434
This clearly shows the need for better explanation and examples in the Pynamodb documentation

[2020-09-13 18:28] abe-winter opened #844 "graceful filter_key handling conflicts with is_range_key_valid, throws wrong error"
This is happening in 4.3.3 but it looks like all the relevant code has been refactored on master; sorry in advance if this is a stale report.

I used an `is_in()` condition for a range key, which isn't allowed. This created a chain of events that raised the `'filter_condition' cannot contain key attributes` error, which is not the right error for this case.

First my `range_key_condition` failed t

[2020-09-13 21:43] burritoIand opened #845 "How to update dynamic attribute changes?"
Hello, in the past I could do this to update dynamic attributes:
[code]
However when I try to do that now, I get the error `TypeError("the value of `actions` is expected to be a non-empty list")`
(https://github.com/pynamodb/PynamoDB/blob/master/pynamodb/models.py#L415)

How can I update multiple dynamic attributes at once with current version?

[2020-09-14 17:47] ZacharyRSmith opened #846 "feature request: Provide rate_limit for batch writes"
"Rate limited batch writes are not currently supported, but if you would like to see it in a future version, please add a feature request for it in Issues." - https://pynamodb.readthedocs.io/en/latest/rate_limited_operations.html

[2020-09-14 18:05] ikonst commented on #844
Thanks, this was resolved in https://github.com/pynamodb/PynamoDB/pull/798. Agree it was super-confusing.

[2020-09-14 18:05] #844 closed

[2020-09-14 18:13] abe-winter commented on #844
Thank you!

[2020-09-16 19:21] jpinner-lyft commented on #824
@jin09 this has been fixed in the v5.0.0b1 release:

[code]

[2020-09-16 19:21] #824 closed

[2020-09-16 19:29] jpinner-lyft commented on #845
Starting with the v4.0.0 release, you need to use the expression syntax to create a list of actions. Dynamic attributes are supported through the `Path` operand (statically defined attributes provider "pythonic" methods for creating these based on the attribute names). Note that when creating Path instances manually, the input value will be broken down into segments based on DynamoDB's syntax: htt

[2020-09-16 19:29] #845 closed

[2020-09-16 19:50] jpinner-lyft commented on #794
Tried to take an initial pass at this and quickly ran into an issue to think about:

In order to make `Condition` or `Action` equitable, we need to be able to compare their operands. For `Path` operands that means being able to write code like `Path('foo') == Path('bar')`; however, that comparison results in a `Condition` not a boolean in order to support code like `MyModel.foo == MyModel.bar`. Ca

[2020-09-17 01:09] ikonst commented on #794
We can perhaps compare their `__repr__` or serialized strings, or perhaps we can add a `_real_eq` to Operand and call that instead.

[2020-09-17 13:52] holyoaks commented on #779
I have this issue as well. Identical behavior, except I'm using Django instead of Flask, and PynamoDB 4.3.3

[2020-09-17 22:23] burritoIand commented on #845
ok great thanks @jpinner-lyft

[2020-09-18 02:36] #840 closed

[2020-09-21 19:31] cjh79 commented on #627
@garrettheel I just came across this problem as well. Yes, in our case, the offending items were added using boto3 directly, including some NULL fields. Now we are moving to PynamoDB, but looking up older pre-Pynamo items is causing this stack trace.

I think PynamoDB ought to be able to handle this -- even if it requires a special setting or something. In the meantime, is there any workaround you

[2020-09-21 20:43] garrettheel commented on #627
@cjh79 can you try this against `pynamodb==5.0.0b1`? I believe it should address this

[2020-09-21 21:28] cjh79 commented on #627
@garrettheel thank you, yes, that version fixes it. Would you recommend against putting 5.0.0b1 into production? I've read the release notes, and none of the breaking changes should affect us, but how stable is this release?

[2020-09-21 21:49] garrettheel commented on #627
@cjh79 it hasn't been widely tested yet, so you may want to wait until the stable release if you're risk averse. that said, there are no changes in this release that I see as particularly risky - the major version bump was mostly due to the Python 3+ requirement

[2020-09-23 14:13] cjh79 commented on #627
@garrettheel is there any timeline on getting 5.0.0 out of beta?

[2020-09-25 06:16] jl-DaDar opened #852 "need help_text like in orm for documentation generation"
We use graphql and we need this to generate schema comments

Thank you.

[2020-09-28 14:13] garrettheel commented on #802
`loop.run_in_executor` is an interesting approach, but I have tried this before and seen performance issues with high-throughput applications using this approach. Introducing threads also introduces new and interesting failure modes that didn't exist before. I'd be concerned about going down that path, especially since the vast majority of users would still use the sync interface and pay that tax

[2020-09-28 20:29] ikamensh opened #854 "Add typing"
Hello, thanks for this library!

While going through tutorials I've noticed that typing is not added. Do you consider it's OK to add  typing, e.g. as `foo(arg: List[str]) -> "Type"` as that would be compatible with python3.6 ?

I would also contribute a PR or two, but this is only practical to do partially imo - converting entire library at once is huge amount of work.

[2020-09-28 20:37] ikonst commented on #854
We have _some_ typing but definitely should add some more :)

[2020-09-28 21:08] ikamensh commented on #854
oh, I was looking at the release 4.3.3, indeed much more typing since then :) will make a PR if I'll find anything obvious missing.

[2020-09-28 21:08] #854 closed

[2020-09-30 13:35] KapilVijay28 opened #856 "pynamodb.exceptions.TableError"
**Error:**

Code Snippet:
[code]

I am using [DynamoDB-local](https://hub.docker.com/r/amazon/dynamodb-local/) and executing it using docker locally. I have used 'dummy' values for the `aws configure` command. I think for dynamodb-local we don't need actual AWS key_id & secret_key.

Could anyone please help?

[2020-09-30 13:38] KapilVijay28 commented on #856
@mattjegan @venkateshanbalagan

Could you guyz help?

[2020-10-02 19:15] navels commented on #808
We finally got around to implementing this (providing our own request token and retrying) and it fixed the problem.  We hit this failure 63 times over the last week.  Using a linear retry with 5-second delay, the transaction succeeded after 1 retry 54 times.  It took 2 retries 8 times.  The remaining case took 10 retries (so 50 seconds . . . yikes) but eventually went through.

[2020-10-05 10:05] willtraweek commented on #560
is there a way to use python properties with anything that does end up in dynamo?  I'd like to have more control over how attributes are set before they enter the database

[2020-10-05 21:28] abe-winter commented on #832
terraform generator shared here if useful:

https://github.com/abe-winter/pynamotf

[2020-10-06 22:51] alivcor commented on #856
@KapilVijay28 you do need to provide the hostname as in `http://localhost:8000` - if not probably it will go check your locally configured aws credentials

[2020-10-07 16:22] alextriaca commented on #500
Great answer thanks @YukSeungChan. Saved me hours of dev time with this handy snippet. Works like a dream.

[2020-10-08 16:44] #164 closed

[2020-10-08 19:26] #361 closed

[2020-10-09 20:38] #247 closed

[2020-10-09 20:39] #328 closed

[2020-10-09 20:56] #162 closed

[2020-10-09 21:04] jpinner-lyft commented on #453
@garrettheel not sure what you want the return to be here -- `get` usually returns the item or raises an exception, but for indexes you are not guaranteed uniqueness so you'd either have to choose the "first" one (as in your example) or return an iterator

[2020-10-09 21:06] #472 closed

[2020-10-09 21:08] #619 closed

[2020-10-09 23:37] garrettheel commented on #453
Yep, this was a misunderstanding on my part. From the docs:

Closing this one, since it doesn't make sense.

[2020-10-09 23:37] #453 closed

[2020-10-09 23:38] jpinner-lyft commented on #751
"fixed" in #800 by removing condition demotion entirely

[2020-10-09 23:38] #751 closed

[2020-10-10 12:34] jovana opened #866 "How to update one item in nested MapAttribute"
I'm not able to figure out how to update one item in an existing nested MapAttribute.

I have created in this Gits 3 cases: https://gist.github.com/jovana/03ed3b635a2f19e4ab0470189f051875

The first is easy, if a MapAttribute does not exist is will create the missing MapAttribute.
But if it does already exist how to update, in this example the first name only (without destroying the rest of the Ma

[2020-10-10 19:41] lookasu commented on #866
If the object already exist you can just do this:

```person_update.update(actions=[Office.employees.person.fname.set("Jane")])```

[2020-10-10 19:44] lookasu opened #867 "Add TooManyResults Exception in the style of DoesNotExist"
Would it be possible to add another model specific exception i.e. TooManyResults

[code]

Alternatively could someone explain how/if I can achieve the same effect using __new__ or something in subclass?

Much appreciated
Lukasz

[2020-10-11 07:34] jovana commented on #866
Thanks for your reply!
I know your suggestion is working if object does exist. But how to workaround if employees or person object does not exist? In some cases its not there and it gives an exception. For the listattribute you have the option to use:

'''
(Office.employees.person.fname
 | []).append(list)
'''

If I will try this for objects:

'''
(Office.employees.person.fname
 | {}).add({item})

[2020-10-11 09:47] jovana commented on #866
For the time being, Now I have using a try / except. But it feels like overhead that is why I want to find a solution for this.
[code]

[2020-10-11 11:22] lookasu commented on #866
1. You have the object (`person_update`) loaded so you can see what is and what isn't defined on it.

2. In my opinion what you are doing wrong (fundamentally) is that your action is set `employees` attribute but what you pass in is partial object with a partial instance of another attribute and then you expect it to somehow figure out what you mean. You don't even have default values set on your

[2020-10-12 06:34] jovana commented on #866
Hi @lookasu,
Thanks again for your update and constructive contribution :-)
The reason I was asking this, to get a reaction from someone who has to deal smartly with this kind of issue. If you have a few nested objects (and you will go there fast using NoSQL) you need to write a lot of code to validate and check the object.

And yes using default values will help a bit, but fully rely on this not

[2020-10-13 20:25] wobeng commented on #677
@garrettheel  I will submit a pr

[2020-10-14 19:15] jpinner-lyft commented on #596
https://github.com/pynamodb/PynamoDB/pull/868 might actually address this

by subclassing `DynamicMapAttribute` you always get a "raw" version as long as you don't define any attributes

[2020-10-15 14:25] garrettheel commented on #867
@lookasu I'm not totally sure that I understand the use case for this exception. When would you expect it to be raised? Using `.query` results in a paginator that the consumer can choose how much to read from

[2020-10-15 14:27] garrettheel commented on #856
@alivcor is correct -- you need to configure the hostname when you instantiate the `Connection`. https://pynamodb.readthedocs.io/en/latest/local.html discusses this, though at the `Model` level so you'll need to adjust for `Connection`

[2020-10-15 14:27] #856 closed

[2020-10-15 14:30] garrettheel commented on #821
Hey @rajnaveen25, this isn't enough information to be able to help you. Can you please include a full example (ideally reproducible locally)? I suspect there is some configuration issue on your side.

[2020-10-15 15:06] garrettheel commented on #820
Yes, the library does support reading items. There are various docs that provide examples of how to do this already. I'm sure we could do a better job of providing documentation examples, and I'd definitely welcome PRs attempting to do so.

The auto-generated [API docs](https://pynamodb.readthedocs.io/en/latest/api.html) and tests in this repo also provide many examples of using the library.

The

[2020-10-18 08:44] shearichard opened #870 "Tutorial.rst text is (I think) in need of correction ?"
Within tutorial.rst the following sentence appears.

_Before you begin, you should already have an Amazon Web Services account, and have your AWS credentials configured your boto._

I can't understand what the last half of the sentence is saying and I wonder if there's a typo in there ? I'm quite happy to submit a PR but just want to check what it should say.

For instance I wondered if it should

[2020-10-19 19:18] rksaxena opened #871 "Defining Attribute key name with |"
**Query**
I have a Dynamodb DB table which has a primary key as `A|B|C`. When I try to define my class as
[code]
I get an error `SyntaxError: can't assign to operator`

How to handle such key structures.

[2020-10-20 00:43] alivcor commented on #820
Thanks @garrettheel - closing this issue !

[2020-10-20 00:43] #820 closed

[2020-10-22 09:15] willtraweek opened #874 "Filter_condition evaluates before query"
I'm using a query where I want to sometimes sort by resource_group, resource_name, both or neither (resource_group and resource_name being attributes for the class).  I'm hoping to set queries where a specific resource_group or resource_name can be passed into the function and then a filter_condition set based off of that.  Passing `filter_condition = Event.resource_group.exists()` works just fine

[2020-10-22 09:24] willtraweek commented on #874
At the moment, the code looks like this:
[code]

[2020-10-28 23:34] navels opened #876 "memory usage growing as we add models"
With each model having its own boto session and client, we're running into memory issues as the number of models in our application grows.

Has anyone tackled this by using a shared session/client across all their models?

[2020-10-29 12:42] neilferreira opened #877 "Unable to interact with the same Model using different Boto sessions"
The current method of authenticating using PynamoDB is to specify an access key, secret access key and session token (optionally) within the metadata of a table which is converted into a boto session and attached to a "connection" as per https://github.com/pynamodb/PynamoDB/blob/master/pynamodb/models.py#L1049

I have the following use case:
- The IAM Role of my EC2 instance is permitted to write

[2020-10-29 12:48] joemulray opened #878 "Optimistic Locking and Race Conditions"
Hello, has anyone experienced any sort of issues with optimistic locking and race conditions. I have two concurrent lambda processed pulling the same pynamo object under 0.022 seconds both pulling the same version. Is this a limitation with DynamoDB or PynamoDB confused on how this is happening and any way to resolve it. Any help would be greatly appreciated.

Thank You.

[2020-10-29 14:58] #878 closed

[2020-11-01 15:49] andre-at-clubien commented on #629
just adding to the thread what others have pointed already:
I ran into the same issue and by simply setting read_capacity and write_capacity to 1 was enough to make it work. As far as I can tell, there's no difference in the behavior of the application after doing it.

Ideally, this should be an optional attribute, unless while trying to provision a DynamoDB table.

[2020-11-02 15:09] ikonst commented on #870
I'd guess the intended wording was "in your boto".

Thing is, this isn't really true:
1) You can use dynamodb-local without having an AWS account.
2) IIRC you can configure credentials in the Meta class of your model (though IMO that's not the best way to do i).

Also, we should update the link to https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html.

[2020-11-02 15:13] ikonst commented on #877
You're changing a global variable on the model. If your application is something like a web worker which handles multiple requests, perhaps concurrently, you might end up having one request using another's credentials.

Did you check whether doing a `deepcopy` on the model class would work to create a unique class for the duration of the operation?

I do agree we need a better way of doing this. I

[2020-11-02 15:16] ikonst commented on #871
try:
[code]

The attribute name must be a valid Python identifier which cannot contain the pipe character.

[2020-11-04 20:11] dustymugs opened #879 "Issues with refresh() and update() when using Model Discriminators"
Small contained test case. I am using dynamodb-local so I hope that's not the problem...

[code]

[2020-11-04 20:21] dustymugs commented on #879
Tested with AWS dynamo instead of dynamo-local and seeing the same error...

[code]

[code]

[2020-11-04 20:23] jpinner-lyft commented on #879
@dustymugs thanks for the bug report

The issue here seems to be that `refresh()` and `update()` call `deserialize()` directly and fail when deserializing the discriminator. Normally `_instantiate` is called when reading without an existing item which removes the discriminator attribute.

[2020-11-04 20:53] jpinner-lyft commented on #879
@dustymugs I've linked a possible fix -- it only supports `refresh` right now and not `update` but take a look and let me know if that addresses your issue.

[2020-11-04 21:03] dustymugs commented on #879
@jpinner-lyft Yes, that fixed the `refresh()` case. For me, the `update()` case was the main case and then I stumbled across the `refresh()` case

[2020-11-04 21:06] dustymugs commented on #879
I was thinking that maybe it'd be easier (don't know about better) if `__set__()` for DiscriminatorAttribute just validated that the value internally matches the value passed by `setattr`

[2020-11-04 21:25] jpinner-lyft commented on #879
@dustymugs I've added another commit to the linked PR to perform the same logic on update

I'll look at modifying `__set__` but I'm not sold on it. It could make this case easier but we probably should be validating that the item matches the data model when using discriminators.

[2020-11-04 21:26] dustymugs commented on #879
@jpinner-lyft yep... that change fixes `update()` case as well

[2020-11-05 02:01] bnssoftware opened #881 "DiscriminatorAttribute is missing from latest release?"
Although the DiscriminatorAttribute is clearly present in the latest GitHub code, it doesn't seem to be available when using pip install.  Is there a way to fix this?

[2020-11-05 02:13] jpinner-lyft commented on #881
The 5.0.0 release containing discriminator support is in beta. We're working through the last of the bugs and should be ready to release soon.

[2020-11-05 11:07] softwareguy74 opened #882 "Possible to return results in standard json?"
I'd like to return the results of a query as standard json objects rather than DynamoDB json.  Is this possible?  It so, how?

[2020-11-05 11:09] softwareguy74 commented on #881
Thanks.   Seems like this feature already made it into current release document so you might want to better ensure proper version control on your docs.

[2020-11-05 15:20] jpinner-lyft commented on #881
The [release notes](https://github.com/pynamodb/PynamoDB/blob/master/docs/release_notes.rst#v500b3) indicate that it is available in the `5.0.0b3` release -- you can explicitly install the pre-release version via pip to test it out but note that using discriminators with the refresh and update operations is currently broken.

[2020-11-05 16:29] softwareguy74 commented on #881
This link shows it as v latest:  https://pynamodb.readthedocs.io/en/latest/polymorphism.html

[2020-11-05 16:35] jpinner-lyft commented on #881
FYI @garrettheel

[2020-11-05 16:53] jpinner-lyft commented on #879
@dustymugs I took your advice and updated the PR to allow setting discriminator attributes to their instance type. Would you mind retesting to change?

[2020-11-05 17:00] dustymugs commented on #879
@jpinner-lyft eek... can't say my advice is ever safe ;-). Tested the bug script from above and longer full lifecycle script with both dynamodb-local and aws with zero issues.

[2020-11-05 17:02] garrettheel commented on #881
Would something like `Added in v5.0.0` at the top be clearer?

[2020-11-05 17:05] bnssoftware commented on #881
Does the version label in the docs not correspond to the version of the
library?

On Thu, Nov 5, 2020, 9:02 AM Garrett <notifications@github.com> wrote:

[2020-11-05 17:09] garrettheel commented on #881
`latest` has always simply pointed at `master`, and `stable` is only updated manually so it's a fair bit behind.

[2020-11-05 23:17] #879 closed

[2020-11-06 17:49] bnssoftware commented on #881
So if DiscriminatorAttribute is in master, but it's not part of the current release, doesn't that violate what "master" refers to?  Seems like maybe we have some GitHub structure issues with this project?  Seems to me that "master" should only be the latest released code, but DiscriminatorAttribute is not in the latest released code, it's in 5.xxx beta.

[2020-11-06 17:55] jpinner-lyft commented on #881
The project uses `master` as the development branch, tagging individual releases. Those tags are then used as the branch point when bugfixes on older versions are required.

[2020-11-06 18:09] bnssoftware opened #883 "Is there a way to hide attributes from appearing in the model?"
I'm using the new DiscriminatorAttribute and want to suppress the "cls" attribute from return in results.  Is this possible?

[2020-11-06 18:12] jpinner-lyft commented on #883
I don't quite understand the question -- do you mean having the attribute not be in the class attributes dictionary?
Could you post a code sample to illustrate?

[2020-11-06 18:16] bnssoftware commented on #883
I have the following defined:

class BaseModel(Model):
    class Meta:
        table_name = "platform"
        aws_access_key_id = ''
        aws_secret_access_key = ''
    id = UnicodeAttribute(hash_key=True)
    cls = DiscriminatorAttribute()

class ProductModel(BaseModel, discriminator='product'):
    name = UnicodeAttribute()

When I query for ProductModel, it returns the cls attribute:

`{
"p

[2020-11-06 18:19] bnssoftware commented on #883
I would also like the cls attribute to not appears in the single Get() object.  Is there a way to hide the cls property from the Model from being used in Get operation?

[2020-11-06 18:20] bnssoftware commented on #882
Any word on this?

[2020-11-06 18:29] bnssoftware commented on #883
Seems like this could be pulled off by adding a parameter to attributes defined in the model to be "hidden", or something to that effect.

[2020-11-06 19:03] jpinner-lyft commented on #882
There is no out-of-the-box way to do this. Depending on the transformations you need you could query using the model interface and then iterate through and convert each model to a dictionary, or you could query using the table api and iterate through the raw results, transforming the dynamo json as necessary.

Related you can look here for an attempt to add to/from json methods to the model object

[2020-11-06 19:09] jpinner-lyft commented on #883
There is no way currently to modify the results dictionary returned back from dynamo. As for adding a "hidden" flag to the attribute model that still wouldn't immediately pop the value from the dynamo results since we need it for instantiating models during the query iteration.

For your REST API you could always remove the attribute after serializing the model.

As for the bug, can you post the c

[2020-11-07 00:36] bnssoftware commented on #883
Writing the data into the database is not where the problem is.  I used your .save() method and the cls is populated in all cases.  But when doing a .query() or .scan(), the first record is always missing the cls attribute.  Definitely something up with the DiscriminatorAttribute option here on the read side, not the write side.

[2020-11-07 00:38] bnssoftware commented on #882
I think that is highly inefficient.  If you are able to do the conversion with .get() on a single item from DynamoDB to JSON internally, why can't you guys create an internal iterator that does the same on .query() or .scan()?

[2020-11-07 00:44] jpinner-lyft commented on #882
If you don't care about the model abstraction then using the low-level connection api is likely the best option:
https://github.com/pynamodb/PynamoDB/blob/master/docs/low_level.rst

It should be easy to combine that with a ResultIterator where you can provide your own mapping function to transform the DynamoDB item into a dictionary:
https://github.com/pynamodb/PynamoDB/blob/master/pynamodb/pagina